# P3_Réalisez une étude de santé publique

## Importer  pandas et lire des bases de données

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

In [ ]:
df_population 
df_animaux 
df_vegetaux 
df_céréales 
df_sousalimentation

### Connaître la base de données

In [4]:
df_population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [7]:
df_population.shape

(175, 14)

In [5]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [11]:
df_population.nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

In [13]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [18]:
df_population.tail()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

In [14]:
df_animaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                23
Produit                     23
Code année                   1
Année                        1
Unité                        4
Valeur                    3074
Symbole                      3
Description du Symbole       3
dtype: int64

In [15]:
df_animaux.shape

(37166, 14)

In [16]:
df_sousalimentation.shape

(1020, 15)

In [16]:
df_sousalimentation.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Note'],
      dtype='object')

In [10]:
df_sousalimentation.nunique()

Code Domaine                1
Domaine                     1
Code zone                 204
Zone                      204
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  5
Année                       5
Unité                       1
Valeur                    146
Symbole                     3
Description du Symbole      3
Note                        0
dtype: int64

In [12]:
df_sousalimentation.shape

(1020, 15)

In [17]:
df_céréales.shape

(891, 14)

In [18]:
df_vegetaux.shape

(104871, 14)

In [14]:
df_vegetaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                75
Produit                     75
Code année                   1
Année                        1
Unité                        4
Valeur                    6249
Symbole                      3
Description du Symbole       3
dtype: int64

In [15]:
df_céréales.nunique()

Code Domaine                1
Domaine                     1
Code zone                 167
Zone                      167
Code Élément                1
Élément                     1
Code Produit                9
Produit                     9
Code année                  1
Année                       1
Unité                       1
Valeur                    485
Symbole                     1
Description du Symbole      1
dtype: int64

In [21]:
df_population['Valeur']

0      30552
1      52776
2       3173
3      39208
4      82727
       ...
170    30405
171    91680
172    24407
173    14539
174    14150
Name: Valeur, Length: 175, dtype: int64

In [22]:
df_population['Valeur'].maen

AttributeError: 'Series' object has no attribute 'maen'