# P3_Réalisez une étude de santé publique

Mise en situation
Vous êtes intégré à une nouvelle équipe de chercheurs de la Food and Agriculture Organization of the United Nations (FAO), l'un des organes qui compose l'ONU et dont l'objectif est d' « aider à construire un monde libéré de la faim ».

Votre équipe est chargée de réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.

Le problème de la faim est complexe et peut avoir de multiples causes, différentes selon les pays. L’étape préliminaire de cette étude sera donc d’établir un “état de l’art” des recherches déjà publiées, mais également de mener une étude statistique destinée à orienter les recherches vers des pays particuliers, et de mettre en lumière différentes causes de la faim. Ainsi, une poignée de data analysts (dont vous !) a été sélectionnée pour mener cette étape préliminaire. Lors de la première réunion, vous avez été désigné pour mettre une place la base de données que votre équipe pourra requéter (en SQL) à souhait pour réaliser cette étude statistique.

 

Les données
Les données sont disponibles sur ce lien et sont constituées de 5 fichiers:

fr_animaux.csv : multiples indicateurs de production des produits animaux en 2013
fr_population.csv: population mondiale par pays en 2013
fr_vegetaux.csv: multiples indicateurs de production des produits végétaux en 2013
fr_céréales.csv: quantité de céréales produites au niveau mondial en 2013    
fr_sousalimentation.csv: nombre de personnes sous alimentées dans le monde de 2013 à 2017.

## Importer  des librairies Python et lire des bases de données

In [111]:
#impotter des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
%matplotlib inline

In [112]:
#importer des database
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

## Connaître la base de données
df_population 
df_animaux 
df_vegetaux 
df_céréales 
df_sousalimentation

In [113]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [114]:
df_vegetaux.sample(8)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
104685,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2613,Pamplemousse,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
95774,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,167,Tchéquie (la),664,Disponibilité alimentaire (Kcal/personne/jour),2531,Pommes de Terre,2013,2013,Kcal/personne/jour,135.00,Fc,Donnée calculée
33564,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,63,Estonie,5911,Exportations - Quantité,2680,Aliments pour enfants,2013,2013,Milliers de tonnes,2.00,S,Données standardisées
25629,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,48,Costa Rica,5131,Traitement,2559,Graines de coton,2013,2013,Milliers de tonnes,0.00,S,Données standardisées
82375,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,146,République de Moldova,5123,Pertes,2602,Oignons,2013,2013,Milliers de tonnes,0.00,S,Données standardisées
37723,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2551,Noix,2013,2013,Milliers de tonnes,278.00,S,Données standardisées
34410,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,231,États-Unis d'Amérique,645,Disponibilité alimentaire en quantité (kg/pers...,2546,Haricots,2013,2013,kg,2.84,Fc,Donnée calculée
81927,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,117,République de Corée,674,Disponibilité de protéines en quantité (g/pers...,2640,Poivre,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée

In [115]:
df_population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

Reconnaître, vérifier et nettoyer les données

In [116]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [117]:
df_animaux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37166 entries, 0 to 37165
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            37166 non-null  object
 1   Domaine                 37166 non-null  object
 2   Code zone               37166 non-null  int64
 3   Zone                    37166 non-null  object
 4   Code Élément            37166 non-null  int64
 5   Élément                 37166 non-null  object
 6   Code Produit            37166 non-null  int64
 7   Produit                 37166 non-null  object
 8   Code année              37166 non-null  int64
 9   Année                   37166 non-null  int64
 10  Unité                   37166 non-null  object
 11  Valeur                  37166 non-null  float64
 12  Symbole                 37166 non-null  object
 13  Description du Symbole  37166 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 4.0+ MB

In [118]:
df_céréales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            891 non-null    object
 1   Domaine                 891 non-null    object
 2   Code zone               891 non-null    int64
 3   Zone                    891 non-null    object
 4   Code Élément            891 non-null    int64
 5   Élément                 891 non-null    object
 6   Code Produit            891 non-null    int64
 7   Produit                 891 non-null    object
 8   Code année              891 non-null    int64
 9   Année                   891 non-null    int64
 10  Unité                   891 non-null    object
 11  Valeur                  891 non-null    int64
 12  Symbole                 891 non-null    object
 13  Description du Symbole  891 non-null    object
dtypes: int64(6), object(8)
memory usage: 97.6+ KB

In [119]:
df_sousalimentation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   Code zone               1020 non-null   int64
 3   Zone                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   Code Produit            1020 non-null   int64
 7   Produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   Année                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [120]:
df_sousalimentation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   Code zone               1020 non-null   int64
 3   Zone                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   Code Produit            1020 non-null   int64
 7   Produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   Année                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [121]:
df_vegetaux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104871 entries, 0 to 104870
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            104871 non-null  object
 1   Domaine                 104871 non-null  object
 2   Code zone               104871 non-null  int64
 3   Zone                    104871 non-null  object
 4   Code Élément            104871 non-null  int64
 5   Élément                 104871 non-null  object
 6   Code Produit            104871 non-null  int64
 7   Produit                 104871 non-null  object
 8   Code année              104871 non-null  int64
 9   Année                   104871 non-null  int64
 10  Unité                   104871 non-null  object
 11  Valeur                  104871 non-null  float64
 12  Symbole                 104871 non-null  object
 13  Description du Symbole  104871 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 11.2+ MB

# Question 1 : donnez le résultat de votre calcul pour l'année 2013.
Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.

In [122]:
#Assurez que les données ne concernent que 2013.
df_population['Année'] .unique()

array([2013])

Il n'y a que l'année 2013 dans la colonne année.
On peut additionner la population de chaque pays pour obtenir la population totale du monde

In [123]:
#somme la population des pays pour obtenir la population mondiale
population_2013 = (df_population['Valeur'].sum()*1000)
population_2013

8413993000

In [124]:
print('La population de la terre est' ,population_2013, 'Mais en 2013, la population de la Terre, selon les  Nations Unies, était de 7 210 581 976 (https://www.worldometers.info/world-population/world-population-by-year/)                                  ')

La population de la terre est 8413993000 Mais en 2013, la population de la Terre, selon les  Nations Unies, était de 7 210 581 976 (https://www.worldometers.info/world-population/world-population-by-year/)

In [125]:
df_population.nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

Description du Symbole a deux valeurs, voyons ce qu'elles sont :

In [126]:
df_population ['Description du Symbole']. unique ()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

In [127]:
df_population_pas_officielles= (df_population['Description du Symbole']=='Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

La Chine est comptée deux fois, dans la ligne 33 les données non officielles sont en double
Si nous supprimons) la ligne contenant l'index 33 de notre ensemble de données.

In [128]:
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [129]:
nb_population= df_population['Valeur'].sum()*1000 - 1416667*1000
nb_population

6997326000

In [130]:
#Supprimer la ligne Chine
df_population = df_population[df_population['Code zone'] != 351]

In [131]:
df_population.loc[30:40, ['Zone','Code zone','Valeur']]

                         Zone  Code zone   Valeur
30                   Cameroun         32    22254
31                     Canada         33    35182
32                      Chili         40    17620
34   Chine - RAS de Hong-Kong         96     7204
35       Chine - RAS de Macao        128      566
36        Chine, continentale         41  1385567
37  Chine, Taiwan Province de        214    23330
38                     Chypre         50     1141
39                   Colombie         44    48321
40                      Congo         46     4448

In [132]:
df_animaux = df_animaux[df_animaux['Code zone'] != 351]

In [133]:
df_vegetaux = df_vegetaux[df_vegetaux['Code zone'] != 351]

In [134]:
df_céréales = df_céréales[df_céréales['Code zone'] != 351]

In [135]:
df_sousalimentation = df_sousalimentation[df_sousalimentation['Code zone'] != 351 ]

In [136]:
df_population.shape

(174, 14)

Note :

In [137]:
print('La population mondiale est de ',nb_population, '. La différence entre cela et le nombre dans les statistiques des Nations Unies car il y a beaucoup de petits pays non enregistrés dans les données.')

La population mondiale est de  6997326000 . La différence entre cela et le nombre dans les statistiques des Nations Unies car il y a beaucoup de petits pays non enregistrés dans les données.

Il y a 206 pays dans le monde. Parmi eux, 193 sont membres des Nations Unies selon https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l%27alimentation_et_l%27agriculture, mais dans la base de données actuelle 175

# Question 2 : 
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique .

Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :

Production 
Importations
Exportations 
Variation de stock 
Disponibilité intérieure 
Semences 
Pertes 
Nourriture, aussi appelée Disponibilité alimentaire 
Aliments pour animaux 
Traitement
Autres utilisations 

Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice,

In [138]:
 #Création d'un dataframe "FRANCE / BLE" pour vérifier les données
df_blé_France= df_vegetaux [(df_vegetaux['Zone']== 'France') & (df_vegetaux['Produit']== 'Blé')]
df_blé_France.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées

In [139]:
df_blé_France.shape

(15, 14)

# Une équation à 3 termes

Disponibilité intérieur = Production + importations - exportations + variations des stocks = Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes

In [140]:
#Disponibilité intérieur
dispo_interieur1 = int(df_blé_France[df_blé_France['Élément'] == 'Disponibilité intérieure'].Valeur)
dispo_interieur1

20298

In [141]:
#Production + importations - exportations + variations des stocks 
dispo_interieur2= (int(df_blé_France[df_blé_France['Code Élément'] == 5511].Valeur) +
                   int(df_blé_France[df_blé_France['Code Élément'] == 5611].Valeur)-
                   int(df_blé_France[df_blé_France['Code Élément'] == 5911].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5072].Valeur))
dispo_interieur1

20298

In [142]:
#Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes
dispo_interieur3= (int(df_blé_France[df_blé_France['Code Élément'] == 5142].Valeur) +
                   int(df_blé_France[df_blé_France['Code Élément'] == 5521].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5527].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5131].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5154].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5123].Valeur))
dispo_interieur2

20298

### Réponse à la  question 2:
Ainsi, les trois termes sont exactement équivalents dans les données France/Blé, et l'équation a été vérifiée.

# Question 3 : 
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

Population de chaque pays ;
Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [143]:
#Ajouter une colonne 'Radical' aux deux tables df_vegetaux et df_animaux
df_vegetaux['Radical'] = 'plante'
df_animaux['Radical'] = 'animal'

In [144]:
df_animaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Radical'],
      dtype='object')

In [145]:
df_vegetaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Radical'],
      dtype='object')

Les colonnes sont identiques, on peut donc fusionner les deux tables

In [223]:
#fusionner les deux tables
df_vegetaux_animaux = df_animaux.append (df_vegetaux) 
df_vegetaux_animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Radical
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées,animal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées,animal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,animal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée,animal

In [224]:
df_vegetaux_animaux.shape

(140919, 15)

In [225]:
df_vegetaux_animaux['Valeur'].describe()

count    140919.000000
mean        233.524210
std        4885.276773
min      -39863.000000
25%           0.000000
50%           1.000000
75%          15.000000
max      739267.000000
Name: Valeur, dtype: float64

In [226]:
# Jointure avec la table population sur le Code zone 
df_vegetaux_animaux= pd.merge(df_vegetaux_animaux,df_population, on = 'Code zone' )
df_vegetaux_animaux.sample(8)

,Code Domaine_x,Domaine_x,Code zone,Zone_x,Code Élément_x,Élément_x,Code Produit_x,Produit_x,Code année_x,Année_x,...,Code Élément_y,Élément_y,Code Produit_y,Produit_y,Code année_y,Année_y,Unité_y,Valeur_y,Symbole_y,Description du Symbole_y
74319,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,118,Koweït,5911,Exportations - Quantité,2560,Coco (Incl Coprah),2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,3369,NaN,Donnée officielle
76023,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,121,Liban,5072,Variation de stock,2740,"Beurre, Ghee",2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,4822,NaN,Donnée officielle
28377,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,684,Disponibilité de matière grasse en quantité (g...,2578,Huile de Coco,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
40703,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,225,Émirats arabes unis,664,Disponibilité alimentaire (Kcal/personne/jour),2848,Lait - Excl Beurre,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,9346,NaN,Donnée officielle
122724,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,198,Slovénie,645,Disponibilité alimentaire en quantité (kg/pers...,2557,Graines de tournesol,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,2072,NaN,Donnée officielle
131305,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,217,Togo,5142,Nourriture,2633,Feve de Cacao,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,6817,NaN,Donnée officielle
120895,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,197,Sierra Leone,674,Disponibilité de protéines en quantité (g/pers...,2805,Riz (Eq Blanchi),2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,6092,NaN,Donnée officielle
112707,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,215,République-Unie de Tanzanie,684,Disponibilité de matière grasse en quantité (g...,2534,Racines nda,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,49253,NaN,Donnée officielle

In [227]:
df_vegetaux_animaux.columns

Index(['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Code année_x', 'Année_x',
       'Unité_x', 'Valeur_x', 'Symbole_x', 'Description du Symbole_x',
       'Radical', 'Code Domaine_y', 'Domaine_y', 'Zone_y', 'Code Élément_y',
       'Élément_y', 'Code Produit_y', 'Produit_y', 'Code année_y', 'Année_y',
       'Unité_y', 'Valeur_y', 'Symbole_y', 'Description du Symbole_y'],
      dtype='object')

In [228]:
#  recréer un DataFrame avec les colonnes nécessaires
df_vegetaux_animaux= df_vegetaux_animaux[['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Année_x',
       'Unité_x', 'Valeur_x','Radical', 'Valeur_y']]

In [229]:
df_vegetaux_animaux.head()

,Code Domaine_x,Domaine_x,Code zone,Zone_x,Code Élément_x,Élément_x,Code Produit_x,Produit_x,Année_x,Unité_x,Valeur_x,Radical,Valeur_y
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,animal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,animal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,animal,30552

In [230]:
#Changer les noms de colonnes
df_vegetaux_animaux = df_vegetaux_animaux.rename(columns= {'Code Domaine_x':'Code Domaine', 'Domaine_x':'Domaine', 'Code zone': 'Code zone', 'Zone_x': 'Zone', 'Code Élément_x': 'Code Élément',
       'Élément_x':'Élément', 'Code Produit_x':'Code Produit', 'Produit_x': 'Produit', 'Année_x': 'Année',
       'Unité_x':'Unité', 'Valeur_x':'Valeur','Radical':'Radical', 'Valeur_y':'Population'})

In [231]:
df_vegetaux_animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur,Radical,Population
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,animal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,animal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,animal,30552

In [232]:
#Population par pays
df_vegetaux_animaux['Population'] = df_vegetaux_animaux['Population'] * 1000

In [233]:
df_vegetaux_animaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Année', 'Unité', 'Valeur',
       'Radical', 'Population'],
      dtype='object')

In [234]:
df_vegetaux_animaux['Valeur'].describe()

count    140919.000000
mean        233.524210
std        4885.276773
min      -39863.000000
25%           0.000000
50%           1.000000
75%          15.000000
max      739267.000000
Name: Valeur, dtype: float64

# Observation:
Il y a des valeurs inférieures à zéro, ça n'a pas de sens, donc ça devrait être supprimé mais je ne savais pas

df_vegetaux_animaux.loc[df_vegetaux_animaux['Valeur'] == '<0.'] = 0

In [235]:
# On créé un pivot avec les éléments en colonne
df_vegetaux_animaux = df_vegetaux_animaux.pivot_table( index = [ 'Code zone', 'Zone', 'Code Produit', 'Produit', 'Année', 'Radical', 'Population'] , columns = 'Élément', values = 'Valeur', aggfunc = sum).reset_index()

In [236]:
df_vegetaux_animaux.head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [237]:
    # Calculs des disponibilités alimentaires totales par produit pour chaque pays (Kg) = Population * (Disponibilité de protéines en quantité (g/personne/jour))/1000 * 365
    df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)'] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité de protéines en quantité (g/personne/jour)']/1000 * 365 )

In [238]:
# Calculs des disponibilités alimentaires totales par produit pour chaque pays(kcal) = Population * (Disponibilité de protéines en quantité Disponibilité alimentaire (Kcal/personne/jour) * 365
df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)'] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité alimentaire (Kcal/personne/jour)'] * 365 )

In [239]:
df_vegetaux_animaux.head(5)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal)
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,33163184.60,1.112684e+12
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,0.00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,10866.05,0.000000e+00
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,21732.10,1.086605e+09
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,97794.45,2.173210e+09

In [240]:
df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)'].describe()

count    1.156100e+04
mean     1.792744e+07
std      1.857800e+08
min     -1.717080e+07
25%      3.942000e+03
50%      2.169341e+05
75%      2.510412e+06
max      8.865481e+09
Name: Disponibilité alimentaire protéines totale (Kg), dtype: float64

In [241]:
df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)'].describe()

count    1.424100e+04
mean     5.170903e+11
std      6.225858e+12
min     -9.745588e+11
25%      0.000000e+00
50%      7.594920e+09
75%      8.094605e+10
max      4.071142e+14
Name: Disponibilité alimentaire totale (Kcal), dtype: float64

#Résultat : Dans le monde, l'accès à la nourriture en quantité n'est pas égalitaire

# Question 4 : Ratios énergétiques
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

df_vegetaux_animaux['Nourriture'].replace(0, np.nan, inplace=True)

In [242]:
#Calcul du ratio énergie/poids (en kcal/kg)= La disponibilité alimentaire en kcal/kg / la quantité Nourriture
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] = (df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)']
                                                        / (df_vegetaux_animaux['Nourriture'] * 1000000))

In [243]:
df_vegetaux_animaux_Oeufs = df_vegetaux_animaux[df_vegetaux_animaux['Produit'] == 'Oeufs']
df_vegetaux_animaux_Oeufs .head()

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg)
74,1,Arménie,2744,Oeufs,2013,animal,2977000,NaN,0.0,45.0,...,1.0,35.0,NaN,34.0,0.0,NaN,NaN,3727055.15,4.889722e+10,1397.063571
144,2,Afghanistan,2744,Oeufs,2013,animal,30552000,NaN,NaN,5.0,...,29.0,40.0,5.0,18.0,2.0,NaN,NaN,4237562.40,5.575740e+10,1393.935000
226,3,Albanie,2744,Oeufs,2013,animal,3173000,NaN,NaN,46.0,...,0.0,40.0,7.0,48.0,0.0,NaN,NaN,4227229.25,5.327467e+10,1331.866750
319,4,Algérie,2744,Oeufs,2013,animal,39208000,NaN,NaN,27.0,...,0.0,316.0,10.0,347.0,21.0,NaN,NaN,32915116.00,3.863948e+11,1222.768481
400,7,Angola,2744,Oeufs,2013,animal,21472000,NaN,NaN,4.0,...,24.0,24.0,2.0,5.0,3.0,NaN,NaN,2586302.40,3.134912e+10,1306.213333

In [244]:
df_vegetaux_animaux_Oeufs.loc[~np.isfinite(df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'])] = 0

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [245]:
df_vegetaux_animaux_Oeufs ['Ratio énergie/poids (kcal/kg)'] .describe()

count     174.000000
mean     1306.642329
std       278.961694
min         0.000000
25%      1269.216989
50%      1383.072622
75%      1418.397547
max      2149.302500
Name: Ratio énergie/poids (kcal/kg), dtype: float64

Les calories dans les œufs (155 kcal) en 100 g, soit 1550 par kg, selon Wikipedia https://fr.wikipedia.org/wiki/%C5%92uf_(aliment) 
Il est curieux de voir à quel point les ratios énergétiques diffèrent de la valeur attendue, mais on constate que la valeur moyenne est proche (à 1345 kcal/kg).

In [246]:
#le pourcentage de protéines de chaque produit (pour chaque pays).
df_vegetaux_animaux['Pourcentage de protéines produit'] = (df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)']  / (df_vegetaux_animaux['Nourriture'] * 1000000))*100

In [247]:
df_vegetaux_animaux_Avoine = df_vegetaux_animaux[df_vegetaux_animaux['Produit'] == 'Avoine']
df_vegetaux_animaux_Avoine

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,1.0,0.0,5.0,0.0,NaN,NaN,97794.45,2.173210e+09,2173.210,9.779445
154,3,Albanie,2516,Avoine,2013,plante,3173000,25.0,NaN,1.0,...,0.0,1.0,27.0,1.0,NaN,NaN,34744.35,1.158145e+09,inf,inf
246,4,Algérie,2516,Avoine,2013,plante,39208000,107.0,NaN,0.0,...,0.0,6.0,113.0,8.0,NaN,0.0,0.00,0.000000e+00,NaN,NaN
338,7,Angola,2516,Avoine,2013,plante,21472000,0.0,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,0.00,0.000000e+00,NaN,NaN
419,8,Antigua-et-Barbuda,2516,Avoine,2013,plante,90000,0.0,NaN,15.0,...,0.0,NaN,NaN,NaN,NaN,0.0,21024.00,4.927500e+08,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15156,255,Belgique,2516,Avoine,2013,plante,11104000,89.0,NaN,1.0,...,2.0,0.0,21.0,1.0,NaN,NaN,162118.40,4.052960e+09,2026.480,8.105920
15251,256,Luxembourg,2516,Avoine,2013,plante,530000,3.0,NaN,9.0,...,1.0,NaN,6.0,0.0,NaN,0.0,71576.50,1.741050e+09,1741.050,7.157650
15344,272,Serbie,2516,Avoine,2013,plante,9511000,84.0,NaN,1.0,...,1.0,1.0,88.0,4.0,NaN,NaN,138860.60,3.471515e+09,3471.515,13.886060
15436,273,Monténégro,2516,Avoine,2013,plante,621000,1.0,NaN,0.0,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,0.000000e+00,NaN,NaN
15524,276,Soudan,2516,Avoine,2013,plante,37964000,NaN,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN

In [249]:

df_vegetaux_animaux_Avoine.loc[~np.isfinite(df_vegetaux_animaux['Pourcentage de protéines produit']), 'Pourcentage de protéines produit'] = 0

/Users/rowaidakanaan/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [250]:
df_vegetaux_animaux_Avoine ['Pourcentage de protéines produit'] .describe()

count    167.000000
mean       4.602900
std        4.413951
min        0.000000
25%        0.000000
50%        5.690496
75%        8.737434
max       13.886060
Name: Pourcentage de protéines produit, dtype: float64

Le pourcentage de protéines dans l'avoine est Protéine.
13.15 g selon https://en.wikipedia.org/wiki/Oat#Nutrient_profile

#### L’Agence considère que la référence nutritionnelle en protéines des adultes en bonne santé (RNP) est de 0,83 g/kg/j.. La moyenne arithmétique indique que les humains obtiennent leurs besoins caloriques. Mais en examinant l'écart type et la valeur la plus élevée et la plus faible, nous concluons que la répartition des produits riches en calories et en protéines est inégale d'un pays à l'autre.

# Question 5 :
Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [251]:
# Nettoyage des inf et NaN dans le DataFrame en les plaçant à 0
df_vegetaux_animaux.loc[~np.isfinite(df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)']), 'Ratio énergie/poids (kcal/kg)'] = 0
df_vegetaux_animaux.loc[~np.isfinite(df_vegetaux_animaux['Pourcentage de protéines produit']), 'Pourcentage de protéines produit'] = 0
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'].fillna(0)
df_vegetaux_animaux['Pourcentage de protéines produit'].fillna(0)

0         8.525240
1         0.000000
2         0.000000
3         0.000000
4         9.779445
           ...
15600     0.000000
15601    11.085488
15602     8.083168
15603     3.704100
15604     0.000000
Name: Pourcentage de protéines produit, Length: 15605, dtype: float64

In [252]:
# Créer un nouveau DataFrame avec  les valaurs supérieur à 0

df_grandes_calorique = df_vegetaux_animaux[df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] > 0]

In [173]:
# Puis on applique un group by sur le Produit 
df_grandes_calorique = df_grandes_calorique.groupby('Produit').mean().reset_index()
df_grandes_calorique.head()

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
0,Abats Comestible,127.664596,2736.0,2013.0,4.344527e+07,45.863636,16.307692,8.894410,2.853106,0.264099,...,97.322981,3.476190,115.472050,NaN,NaN,0.500000,1.738781e+07,1.070618e+11,1129.258163,17.561047
1,"Agrumes, Autres",132.459459,2614.0,2013.0,6.133273e+07,NaN,3.000000,3.351351,4.808108,0.022941,...,275.513514,26.653846,399.307692,NaN,0.400000,1.933333,1.264902e+06,6.685396e+10,248.981045,0.388122
2,Aliments pour enfants,125.843373,2680.0,2013.0,3.488387e+07,NaN,NaN,6.024096,0.593614,0.047470,...,8.819277,1.000000,NaN,NaN,NaN,0.000000,1.362014e+06,3.340675e+10,3690.832338,14.947422
3,Ananas,121.652893,2618.0,2013.0,4.919470e+07,NaN,0.428571,5.371901,5.281405,0.017273,...,170.322314,32.294118,367.530303,NaN,0.888889,6.345455,4.613769e+05,5.848916e+10,439.413583,0.277369
4,Animaux Aquatiques Autre,117.500000,2769.0,2013.0,3.772612e+08,NaN,0.000000,1.000000,0.747500,0.007500,...,265.750000,NaN,393.333333,0.0,NaN,0.000000,1.005391e+07,1.377004e+11,666.357729,4.504852

In [174]:
#Trier pour obtenir les produits les plus caloriques
df_grandes_calorique.sort_values(by=['Ratio énergie/poids (kcal/kg)'], inplace=True, ascending=False)
df_grandes_calorique.head(20)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
43,Huiles de Foie de Poisso,193.000000,2782.0,2013.0,2.041050e+07,NaN,0.000000,10.000000,0.390000,1.070000,...,5.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000e+00,4.732334e+10,9982.932500,0.000000
41,Huile de Sésame,119.200000,2579.0,2013.0,1.173457e+08,NaN,57.200000,9.314286,0.381429,1.046857,...,20.228571,NaN,31.906250,NaN,1.000000,0.000000,0.000000e+00,1.841101e+11,9433.744729,0.000000
40,Huile de Son de Riz,119.166667,2581.0,2013.0,2.863371e+08,NaN,66.000000,7.916667,0.328333,0.881667,...,70.166667,NaN,89.333333,NaN,NaN,-16.500000,4.640756e+05,5.920899e+11,9361.549883,0.057721
44,Huiles de Poissons,77.333333,2781.0,2013.0,6.568467e+07,21.50,4.000000,34.000000,1.380000,3.780000,...,22.333333,NaN,39.666667,NaN,NaN,0.000000,0.000000e+00,2.012756e+11,9003.715504,0.000000
32,Huile d'Arachide,129.328947,2572.0,2013.0,7.243880e+07,NaN,47.916667,26.000000,1.073947,2.941579,...,50.513158,0.500000,69.305556,NaN,0.000000,-0.727273,5.789943e+03,4.427298e+11,8935.765811,0.013332
33,Huile d'Olive,126.235294,2580.0,2013.0,4.734812e+07,0.00,6.098039,28.188235,1.164471,3.189882,...,32.400000,NaN,126.571429,NaN,NaN,-10.039216,0.000000e+00,2.886831e+11,8931.223447,0.000000
36,Huile de Germe de Maïs,131.269231,2582.0,2013.0,5.508121e+07,NaN,6.727273,20.256410,0.839231,2.286923,...,28.089744,1.666667,48.895833,NaN,0.000000,1.882353,3.993465e+04,2.437923e+11,8871.762566,0.019217
30,Huil Plantes Oleif Autr,131.041667,2586.0,2013.0,4.624730e+07,0.00,29.554622,21.691667,0.929833,2.455167,...,14.541667,0.200000,42.588235,NaN,6.186047,1.764151,5.135248e+04,1.199714e+11,8848.222893,0.552343
38,Huile de Palmistes,138.346939,2576.0,2013.0,7.860473e+07,NaN,135.333333,15.040816,0.628367,1.708980,...,39.265306,8.666667,211.966667,NaN,0.000000,1.565217,7.863991e+04,3.477598e+11,8789.540277,0.068398
31,Huile Graines de Coton,130.555556,2575.0,2013.0,8.473535e+07,NaN,33.419355,21.349206,0.888889,2.413333,...,62.523810,2.000000,85.728814,NaN,0.000000,0.377778,1.602801e+05,5.444908e+11,8750.320136,0.062696
37,Huile de Palme,128.514286,2577.0,2013.0,5.593403e+07,0.00,277.171429,85.285714,3.539810,9.638286,...,144.895238,42.428571,1410.736842,NaN,0.333333,-12.966292,3.821988e+05,1.263250e+12,8719.419872,0.136067
42,Huile de Tournesol,128.685484,2573.0,2013.0,4.956136e+07,NaN,46.070423,74.000000,3.057581,8.367097,...,82.193548,2.000000,172.949367,NaN,0.076923,2.063830,2.098927e+05,7.198919e+11,8693.245772,0.043662
39,Huile de Soja,124.940299,2571.0,2013.0,5.022874e+07,2.75,245.915493,81.798507,3.400522,9.241642,...,181.626866,37.000000,484.397727,NaN,0.000000,0.427350,7.428418e+05,1.569569e+12,8635.808245,0.059843
35,Huile de Colza&Moutarde,128.348485,2574.0,2013.0,7.668285e+07,700.00,278.272727,62.893939,2.621061,7.109848,...,148.530303,1.500000,508.260870,NaN,0.142857,1.180000,2.212984e+05,1.301324e+12,8627.372452,0.101467
34,Huile de Coco,135.397260,2578.0,2013.0,7.583960e+07,NaN,20.230769,20.520548,0.849452,2.316438,...,27.643836,0.500000,58.148148,NaN,0.000000,5.048780,8.720215e+04,2.384928e+11,8565.739255,0.132093
28,Graisses Animales Crue,127.882759,2737.0,2013.0,4.798956e+07,155.60,76.892857,45.593103,2.301241,5.060207,...,71.668966,7.333333,160.317241,NaN,6.289474,1.314815,4.568762e+05,5.105123e+11,7583.862063,1.200466
9,"Beurre, Ghee",126.968992,2740.0,2013.0,5.197145e+07,1.00,1.400000,31.713178,1.589612,3.587752,...,75.333333,22.750000,88.754545,NaN,NaN,1.553571,4.951907e+05,5.884541e+11,7331.424291,0.712111
60,Palmistes,39.000000,2562.0,2013.0,1.335100e+07,NaN,NaN,8.000000,0.500000,0.500000,...,3.000000,4.000000,33.500000,NaN,57.000000,0.000000,0.000000e+00,1.623776e+10,6496.635000,0.000000
84,Sésame,129.898551,2561.0,2013.0,7.676384e+07,NaN,6.333333,10.289855,0.651884,0.899275,...,20.753623,3.648649,78.780000,1.613636,77.607143,-6.459459,3.604130e+06,1.228803e+11,5796.120413,17.471215
5,Arachides Decortiquees,129.220588,2556.0,2013.0,4.733350e+07,1.00,70.277778,25.625000,1.693897,2.126544,...,89.639706,15.530120,342.130435,15.658537,162.256098,-23.674699,2.061973e+07,4.774449e+11,5702.900100,25.169062

#Réponse à la question \
Les 5 aliments parmi les 20 aliments les plus caloriques\
Huiles de Foie de Poisso\
Huile de Sésame\
Huile de Son de Riz\
Huiles de Poissons \
Huile d'Arachide

In [175]:
# Créer un nouveau DataFrame avec  les valaurs supérieur à 0

df_grandes_protéines= df_vegetaux_animaux[df_vegetaux_animaux['Pourcentage de protéines produit'] > 0]

# Puis on applique un group by sur le Produit 
df_grandes_protéines = df_grandes_protéines.groupby('Produit').mean().reset_index()


#Trier pour obtenir les produits les plus caloriques
df_grandes_protéines.sort_values(by=['Pourcentage de protéines produit'], inplace=True, ascending=False)
df_grandes_protéines.head(20)

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
26,Graines Colza/Moutarde,33.000000,2558.0,2013.0,3.518200e+07,739.000000,NaN,16.000000,1.000000,1.000000,...,45.000000,541.000000,18109.000000,73.000000,6700.000000,-2980.000000,1.284143e+07,2.054629e+11,4565.841778,28.536511
73,Soja,134.626506,2555.0,2013.0,7.250643e+07,517.000000,90.428571,12.771084,1.463735,0.569036,...,128.289157,54.702128,3377.333333,106.071429,3377.381818,-27.728814,4.149991e+07,4.342063e+11,2376.843544,28.533053
5,Arachides Decortiquees,127.615942,2556.0,2013.0,4.923415e+07,1.000000,70.277778,25.253623,1.669783,2.096232,...,88.420290,15.235294,337.936170,15.357143,160.571429,-23.392857,2.033977e+07,4.705254e+11,5620.249374,25.146613
62,Pois,134.162162,2547.0,2013.0,5.691562e+07,94.200000,5.600000,12.000000,1.282613,0.059279,...,52.513514,6.307692,140.024691,12.575758,0.000000,-10.775862,1.169065e+07,1.749514e+11,3443.737407,22.324375
44,Légumineuses Autres,128.507576,2549.0,2013.0,5.059539e+07,95.746269,40.800000,36.393939,3.888258,0.246591,...,206.166667,16.347826,320.313559,16.938053,0.000000,1.628866,4.353251e+07,7.139597e+11,3365.193745,21.971635
29,Haricots,129.777778,2546.0,2013.0,5.099910e+07,90.615385,9.833333,34.619048,3.738095,0.157619,...,138.222222,13.000000,215.701923,12.336735,NaN,3.657534,2.981451e+07,4.666903e+11,3341.783779,21.545181
0,Abats Comestible,127.664596,2736.0,2013.0,4.344527e+07,45.863636,16.307692,8.894410,2.853106,0.264099,...,97.322981,3.476190,115.472050,NaN,NaN,0.500000,1.738781e+07,1.070618e+11,1129.258163,17.561047
78,Sésame,129.616438,2561.0,2013.0,7.527011e+07,NaN,6.333333,9.726027,0.617397,0.851644,...,19.671233,3.552632,77.235294,1.613636,77.607143,-6.128205,3.416544e+06,1.161472e+11,5478.524774,17.503953
85,"Viande, Autre",131.976923,2735.0,2013.0,5.250905e+07,6.222222,1.363636,7.838462,2.326308,0.336846,...,52.484615,2.600000,50.872000,NaN,0.850000,0.050000,9.298042e+06,6.168571e+10,1116.232387,17.402372
61,"Plantes Oleiferes, Autre",146.428571,2570.0,2013.0,4.552057e+07,13.642857,5.515152,6.095238,0.585476,0.468333,...,23.500000,5.407407,110.277778,4.333333,77.483871,0.878788,4.830602e+06,8.114016e+10,3314.353756,17.054422
2,Aliments pour enfants,130.500000,2680.0,2013.0,3.944504e+07,NaN,NaN,5.319149,0.528191,0.041915,...,8.085106,1.000000,NaN,NaN,NaN,0.000000,1.242640e+06,2.949745e+10,3258.926426,14.883228
82,Viande de Bovins,125.514620,2731.0,2013.0,4.091769e+07,3.000000,2.514286,51.280702,11.348772,3.562339,...,381.380117,18.520000,397.329412,NaN,-0.633333,0.290000,5.283524e+07,5.891388e+11,1679.369244,14.378022
15,Cephalopodes,128.902778,2766.0,2013.0,6.024976e+07,7.800000,0.319444,1.847222,0.944306,0.024722,...,49.013889,NaN,57.753846,0.000000,NaN,0.939394,6.937520e+06,3.268335e+10,514.670638,13.990390
81,Viande d'Ovins/Caprins,127.477124,2732.0,2013.0,4.542072e+07,9.000000,4.200000,19.882353,3.357516,1.615098,...,87.509804,3.000000,89.730263,NaN,NaN,0.000000,1.208296e+07,1.794581e+11,1953.190779,13.580332
84,Viande de Volailles,125.431034,2734.0,2013.0,4.021452e+07,0.000000,31.450000,74.879310,20.561322,4.921379,...,602.706897,38.500000,630.941860,NaN,12.810811,0.684211,7.570735e+07,8.617331e+11,1301.310330,12.620941
59,Piments,140.081395,2641.0,2013.0,7.150685e+07,NaN,85.000000,6.813953,0.798488,0.329535,...,36.453488,4.030303,59.333333,NaN,NaN,0.000000,4.480967e+06,1.059755e+11,3103.486255,12.100347
65,Poissons Pelagiques,123.958084,2763.0,2013.0,4.064465e+07,123.677632,2.083832,18.071856,7.262275,0.829940,...,129.856287,NaN,275.218045,18.625000,NaN,-10.269231,1.735511e+07,1.258366e+11,866.369865,11.934551
27,Graines de tournesol,136.000000,2557.0,2013.0,4.299121e+07,94.166667,0.000000,4.214286,0.521071,0.331071,...,20.000000,19.555556,362.833333,5.250000,251.733333,-33.692308,2.097499e+06,5.719244e+10,2749.416729,11.182268
64,"Poissons Marins, Autres",127.160839,2764.0,2013.0,4.138161e+07,32.642857,1.174825,6.034965,3.224965,0.204545,...,61.293706,NaN,94.394737,1.000000,NaN,0.277778,6.847175e+06,4.468436e+10,634.972266,11.013261
87,"Épices, Autres",129.669421,2645.0,2013.0,5.596300e+07,NaN,18.200000,6.685950,0.708678,0.239752,...,42.297521,8.272727,70.974026,NaN,NaN,-0.134146,4.549596e+06,1.392424e+11,3259.160376,10.741790

 LES 5 aliments parmi les 20 aliments les plus riches en protéines.\
Graines Colza/Moutarde
Soja\
Arachides Decortiquees\
Pois\
Légumineuses Autres

# Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [176]:
df_vegetaux_animaux['Radical'].unique()

array(['plante', 'animal'], dtype=object)

In [177]:
# Création d'un nouveau DataFrame contenant uniquement les végétaux
df_végétaux_dispo_intérieure = df_vegetaux_animaux[df_vegetaux_animaux['Radical'] == 'plante']

In [178]:
df_végétaux_dispo_intérieure['Dispo intérieure (Kcal)'] = (df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000  *  df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])

<ipython-input-178-2c5886c28da6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo intérieure (Kcal)'] = (df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000  *  df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])

In [179]:
df_végétaux_dispo_intérieure['Dispo intérieure protéines'] = ((df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000)  *  (df_végétaux_dispo_intérieure['Pourcentage de protéines produit' ]/100))

<ipython-input-179-c12905129eae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo intérieure protéines'] = ((df_végétaux_dispo_intérieure['Disponibilité intérieure'] * 1000000)  *  (df_végétaux_dispo_intérieure['Pourcentage de protéines produit' ]/100))

In [180]:
df_végétaux_dispo_intérieure_produits

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines,Dispo végétaux_animaux_pertes(Kcal),Dispo végétaux_animaux_pertes protéines(Kg)
0,"Agrumes, Autres",20116,418240,322080,6827946000,0.0,25.0,128.0,209.07,0.78,...,72.0,46.0,5.205833e+07,2.473770e+12,9212.298679,20.803637,2.658576e+12,5.659980e+07,0.000000e+00,0.000000e+00
1,"Alcool, non Comestible",20111,425440,322080,6740769000,0.0,21769.0,0.0,0.00,0.00,...,0.0,950.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,Aliments pour enfants,21379,458280,344223,6962149000,0.0,0.0,652.0,65.14,5.06,...,0.0,8.0,1.181439e+08,2.795015e+12,306339.084023,1399.023413,2.772760e+12,1.168082e+08,0.000000e+00,0.000000e+00
3,Ananas,21118,439824,338184,6859134000,0.0,3.0,659.0,653.61,1.90,...,8.0,349.0,5.490385e+07,7.077457e+12,53169.043584,33.561638,7.934484e+12,6.110162e+07,0.000000e+00,0.000000e+00
4,Arachides Decortiquees,21372,434520,342210,6934565000,1.0,1265.0,3662.0,241.59,304.42,...,13620.0,-1965.0,2.808105e+09,6.495882e+13,775594.413576,3470.232631,1.566551e+14,6.771286e+09,5.161552e+11,2.299237e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Sésame,20191,414882,326106,6960363000,3.0,63.0,736.0,46.78,64.47,...,2492.0,-422.0,2.502252e+08,8.497870e+12,399932.308519,1277.788597,2.232298e+13,6.617492e+08,0.000000e+00,0.000000e+00
71,Thé,21709,455855,348249,6972431000,0.0,26.0,123.0,127.94,0.00,...,0.0,86.0,5.843149e+08,2.141689e+12,27962.307188,1102.471124,2.169787e+12,5.855138e+08,0.000000e+00,0.000000e+00
72,Tomates,21588,449973,348249,6905646000,1870.0,77.0,1634.0,3115.94,18.55,...,0.0,531.0,1.383854e+09,2.694120e+13,31735.454018,151.170819,2.984529e+13,1.535670e+09,2.585442e+12,1.421921e+08
73,Vin,21591,456660,346236,6969062000,0.0,1588.0,2023.0,1059.75,0.00,...,2464.0,-1609.0,1.934500e+03,1.588339e+13,86903.297229,0.007165,1.875504e+13,1.934500e+03,0.000000e+00,0.000000e+00
74,"Épices, Autres",21496,454940,346236,6967191000,0.0,185.0,1015.0,107.09,37.65,...,0.0,-11.0,5.513468e+08,1.687198e+13,394358.405546,1299.756537,1.768940e+13,5.768142e+08,0.000000e+00,0.000000e+00

In [181]:
df_végétaux_dispo_intérieure_produits = df_végétaux_dispo_intérieure.groupby(by = 'Produit').sum().reset_index()

In [182]:
df_végétaux_dispo_intérieure_produits

Élément,Produit,Code zone,Code Produit,Année,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines
0,"Agrumes, Autres",20116,418240,322080,6827946000,0.0,25.0,128.0,209.07,0.78,...,11758.0,0.0,72.0,46.0,5.205833e+07,2.473770e+12,9212.298679,20.803637,2.658576e+12,5.659980e+07
1,"Alcool, non Comestible",20111,425440,322080,6740769000,0.0,21769.0,0.0,0.00,0.00,...,20763.0,0.0,0.0,950.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00
2,Aliments pour enfants,21379,458280,344223,6962149000,0.0,0.0,652.0,65.14,5.06,...,0.0,0.0,0.0,8.0,1.181439e+08,2.795015e+12,306339.084023,1399.023413,2.772760e+12,1.168082e+08
3,Ananas,21118,439824,338184,6859134000,0.0,3.0,659.0,653.61,1.90,...,24274.0,0.0,8.0,349.0,5.490385e+07,7.077457e+12,53169.043584,33.561638,7.934484e+12,6.110162e+07
4,Arachides Decortiquees,21372,434520,342210,6934565000,1.0,1265.0,3662.0,241.59,304.42,...,31920.0,1295.0,13620.0,-1965.0,2.808105e+09,6.495882e+13,775594.413576,3470.232631,1.566551e+14,6.771286e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Sésame,20191,414882,326106,6960363000,3.0,63.0,736.0,46.78,64.47,...,4634.0,77.0,2492.0,-422.0,2.502252e+08,8.497870e+12,399932.308519,1277.788597,2.232298e+13,6.617492e+08
71,Thé,21709,455855,348249,6972431000,0.0,26.0,123.0,127.94,0.00,...,6112.0,0.0,0.0,86.0,5.843149e+08,2.141689e+12,27962.307188,1102.471124,2.169787e+12,5.855138e+08
72,Tomates,21588,449973,348249,6905646000,1870.0,77.0,1634.0,3115.94,18.55,...,162334.0,0.0,0.0,531.0,1.383854e+09,2.694120e+13,31735.454018,151.170819,2.984529e+13,1.535670e+09
73,Vin,21591,456660,346236,6969062000,0.0,1588.0,2023.0,1059.75,0.00,...,29257.0,0.0,2464.0,-1609.0,1.934500e+03,1.588339e+13,86903.297229,0.007165,1.875504e+13,1.934500e+03
74,"Épices, Autres",21496,454940,346236,6967191000,0.0,185.0,1015.0,107.09,37.65,...,5472.0,0.0,0.0,-11.0,5.513468e+08,1.687198e+13,394358.405546,1299.756537,1.768940e+13,5.768142e+08

In [183]:
disponibilité_intérieure_mondiale_kcal = df_végétaux_dispo_intérieure_produits['Dispo intérieure (Kcal)'].sum()

In [184]:
disponibilité_intérieure_mondiale_protéines = df_végétaux_dispo_intérieure_produits['Dispo intérieure protéines'].sum()

In [185]:
print( 'La disponibilité intérieure mondiale des  produits végétaux est ','{:,}'.format(int(disponibilité_intérieure_mondiale_kcal)).replace(',', ' ') , ' kcal' )

La disponibilité intérieure mondiale des  produits végétaux est  12 312 091 265 143 276  kcal

In [186]:
print( 'La disponibilité intérieure mondiale des  produits végétaux est ','{:,}'.format(int(disponibilité_intérieure_mondiale_protéines)).replace(',', ' ') , ' protéines' )

La disponibilité intérieure mondiale des  produits végétaux est  290 177 334 142  protéines

Réponse 6: La disponibilité interieure mondiale des produits végétaux représente au moins 12 quatrillion ou 12 mille-billions de kcal.

# Question 7 :
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

Calculez combien d'humains pourraient être nourris si tous les produits végétaux disponibles localement dans le monde étaient utilisés pour l'alimentation en termes de calories.\
Selon https://fr.wikipedia.org/wiki/Ration_alimentaire, une personne normale a besoin de 2500 calories par jour

In [187]:
#Calculez combien d'humains pourraient être nourris si tous les produits végétaux disponibles localement dans le monde étaient utilisés pour l'alimentation en termes de calories.

Énergieune_personne_besoin_jour = 2500  
Énergieune_personne_besoin_an = Énergieune_personne_besoin_jour * 365
énergie_suffisante = disponibilité_intérieure_mondiale_kcal/ Énergieune_personne_besoin_an
print('Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en caloriesest ',"{0:,}".format(énergie_suffisante));

print('Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est  ',énergie_suffisante/nb_population * 100, '%')

Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en caloriesest  13,492,702,756.321398
Le nombre de personnes qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est   192.8265562633697 %

Calculez combien d'humains pourraient être nourris si tous les produits végétaux disponibles localement dans le monde étaient utilisés pour l'alimentation en termes de calories protéiques.\
Selon https://www.cerin.org/breves-scientifiques/actualites-en-bref-et-articles-selectionnes-pour-vous-nutri-doc-n118/, une personne normale a besoin de 55 g de protéines par jour.

In [188]:
nb_besoin_protéique_journalier = 55.    
nb_besoin_protéique_kg_an = (nb_besoin_protéique_journalier/1000) * 365
nb_protéines_suffisante =  disponibilité_intérieure_mondiale_protéines / nb_besoin_protéique_kg_an
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en calories est',
      "{0:,}".format(nb_protéines_suffisante));
print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est'
      ,nb_protéines_suffisante/nb_population * 100, '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en calories est 14,454,661,725.63563
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture en  protéines est 206.57407880718478 %

# Question 8 : 
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [189]:
df_végétaux_dispo_intérieure.columns

Index(['Code zone', 'Zone', 'Code Produit', 'Produit', 'Année', 'Radical',
       'Population', 'Aliments pour animaux',
       'Autres utilisations (non alimentaire)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Semences', 'Traitement', 'Variation de stock',
       'Disponibilité alimentaire protéines totale (Kg)',
       'Disponibilité alimentaire totale (Kcal)',
       'Ratio énergie/poids (kcal/kg)', 'Pourcentage de protéines produit',
       'Dispo intérieure (Kcal)', 'Dispo intérieure protéines'],
      dtype='object', name='Élément')

In [190]:
#Ajout de deux colonnes au dataframe df_dispo_interieure_vegetaux pour les calculs Q8

df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes(Kcal)'] = ((df_végétaux_dispo_intérieure['Disponibilité alimentaire totale (Kcal)'])
                                                               + ((df_végétaux_dispo_intérieure['Aliments pour animaux'] * 1000000) 
                                                                  * df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
                                                               + ((df_végétaux_dispo_intérieure['Pertes'] * 1000000) 
                                                                  * df_végétaux_dispo_intérieure['Ratio énergie/poids (kcal/kg)'])
                                                              )
df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes protéines(Kg)'] = (df_végétaux_dispo_intérieure['Disponibilité alimentaire protéines totale (Kg)']
                                                                      + (((df_végétaux_dispo_intérieure['Aliments pour animaux'] 
                                                                         + df_végétaux_dispo_intérieure['Pertes']) * 1000000)
                                                                       * (df_végétaux_dispo_intérieure['Pourcentage de protéines produit']/100))
                                                                      )




df_végétaux_dispo_intérieure.head()

<ipython-input-190-decfd514ce2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes(Kcal)'] = ((df_végétaux_dispo_intérieure['Disponibilité alimentaire totale (Kcal)'])
<ipython-input-190-decfd514ce2e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_végétaux_dispo_intérieure['Dispo végétaux_animaux_pertes protéines(Kg)'] = (df_végétaux_dispo_intérieure['Disponibilité alimentaire protéines totale (Kg)']

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit,Dispo intérieure (Kcal),Dispo intérieure protéines,Dispo végétaux_animaux_pertes(Kcal),Dispo végétaux_animaux_pertes protéines(Kg)
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,10.0,-118.0,33163184.60,1.112684e+12,2860.368946,8.525240,1.584644e+12,4.722983e+07,1.470230e+12,4.381973e+07
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,7.0,0.0,0.00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,NaN,NaN,10866.05,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.086605e+04
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,NaN,0.0,21732.10,1.086605e+09,0.000000,0.000000,0.000000e+00,0.000000e+00,1.086605e+09,2.173210e+04
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,NaN,NaN,97794.45,2.173210e+09,2173.210000,9.779445,1.303926e+10,5.867667e+05,1.086605e+10,4.889722e+05

In [191]:
# Aggrégation par produit avec somme.
df_végétaux_dispo_intérieure_produits = df_végétaux_dispo_intérieure.groupby(by = 'Produit').sum().reset_index()

In [192]:
# On calcul les sommes au niveau mondiale
dispo_alimentaire_modiale_végétaux_kcal = df_végétaux_dispo_intérieure_produits['Dispo végétaux_animaux_pertes(Kcal)'].sum()
dispo_alimentaire_modiale_végétaux_protéines_kg = df_végétaux_dispo_intérieure_produits['Dispo végétaux_animaux_pertes protéines(Kg)'].sum()

In [193]:
dispo_alimentaire_modiale_végétaux_protéines_kg

160423816391.3706

In [194]:
dispo_alimentaire_modiale_végétaux_kcal

6103365899555079.0

In [195]:
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est',
      "{0:,}".format(dispo_alimentaire_modiale_végétaux_protéines_kg));
print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est'
      ,dispo_alimentaire_modiale_végétaux_protéines_kg/nb_population * 100, '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est 160,423,816,391.3706
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est 2292.6445958266145 %

In [196]:
print('Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est',
      "{0:,}".format(dispo_alimentaire_modiale_végétaux_kcal));
print( 'pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est'
      ,dispo_alimentaire_modiale_végétaux_kcal/nb_population * 100, '%')

Le nombre de personnes  de la population mondiale qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux et produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en calories est 6,103,365,899,555,079.0
pourcentage de le  nombre de personnes de la population mondiale  qui pourraient être nourries  si toute la disponibilité intérieure mondiale de produits végétaux produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture en  protéines est 87224261.08995178 %

# Question 9 :
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [197]:
df_vegetaux_animaux

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),Disponibilité alimentaire totale (Kcal),Ratio énergie/poids (kcal/kg),Pourcentage de protéines produit
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,389.0,32.0,312.0,30.0,10.0,-118.0,3.316318e+07,1.112684e+12,2860.368946,8.525240
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.0,15.0,189.0,14.0,7.0,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,0.0,7.0,21.0,0.0,NaN,NaN,1.086605e+04,0.000000e+00,0.000000,0.000000
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,0.0,0.0,1.0,0.0,NaN,0.0,2.173210e+04,1.086605e+09,0.000000,0.000000
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,1.0,0.0,5.0,0.0,NaN,NaN,9.779445e+04,2.173210e+09,2173.210000,9.779445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,2013,animal,37964000,NaN,0.0,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000
15601,276,Soudan,2764,"Poissons Marins, Autres",2013,animal,37964000,NaN,0.0,0.0,...,5.0,NaN,5.0,NaN,NaN,NaN,5.542744e+05,0.000000e+00,0.000000,11.085488
15602,276,Soudan,2805,Riz (Eq Blanchi),2013,plante,37964000,NaN,NaN,14.0,...,48.0,NaN,17.0,1.0,NaN,0.0,3.879921e+06,1.939960e+11,4041.584167,8.083168
15603,276,Soudan,2848,Lait - Excl Beurre,2013,animal,37964000,NaN,0.0,315.0,...,5892.0,NaN,5660.0,NaN,0.0,NaN,2.182455e+08,4.364911e+12,740.819908,3.704100
15604,276,Soudan,2899,Miscellanees,2013,plante,37964000,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.036958e+07,9.699802e+10,0.000000,0.000000

In [198]:
# Sommes des disponibilités alimentaires  pour animaux et végétaux en Kcal
dispo_vegetaux_animaux_globale_kcal = df_vegetaux_animaux['Disponibilité alimentaire totale (Kcal)'].sum()
# Sommes des disponibilités alimentaires  pour animaux et végétaux en protéines
dispo_vegetaux_animaux_globale_protéines_kg = df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)'].sum()

In [199]:
print('Le nombre de personnes qui peuvent être nourries avec la disponibilité de nourriture dans le monde n en termes de calories est ', dispo_vegetaux_animaux_globale_kcal,'.')
print("Le nombre d'êtres humains qui peuvent être nourris avec la disponibilité de nourriture dans le monde n où se trouvent les protéines est ", dispo_vegetaux_animaux_globale_protéines_kg,'.')

Le nombre de personnes qui peuvent être nourries avec la disponibilité de nourriture dans le monde n en termes de calories est  7363883420185000.0 .
Le nombre d'êtres humains qui peuvent être nourris avec la disponibilité de nourriture dans le monde n où se trouvent les protéines est  207259180075.55 .

# Question 10 :
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [200]:
df_sousalimentation.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
5,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO,NaN
6,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,2.8,F,Estimation FAO,NaN
7,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,3.2,F,Estimation FAO,NaN
8,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,3.4,F,Estimation FAO,NaN
9,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,3.5,F,Estimation FAO,NaN

In [201]:
df_sousalimentation.describe()

         Code zone  Code Élément  Code Produit    Code année  Note
count  1015.000000        1015.0        1015.0  1.015000e+03   0.0
mean    128.172414        6132.0      210011.0  2.014202e+07   NaN
std      75.200880           0.0           0.0  1.415052e+04   NaN
min       1.000000        6132.0      210011.0  2.012201e+07   NaN
25%      61.000000        6132.0      210011.0  2.013202e+07   NaN
50%     127.000000        6132.0      210011.0  2.014202e+07   NaN
75%     193.000000        6132.0      210011.0  2.015202e+07   NaN
max     299.000000        6132.0      210011.0  2.016202e+07   NaN

In [202]:
df_sousalimentation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1015 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1015 non-null   object
 1   Domaine                 1015 non-null   object
 2   Code zone               1015 non-null   int64
 3   Zone                    1015 non-null   object
 4   Code Élément            1015 non-null   int64
 5   Élément                 1015 non-null   object
 6   Code Produit            1015 non-null   int64
 7   Produit                 1015 non-null   object
 8   Code année              1015 non-null   int64
 9   Année                   1015 non-null   object
 10  Unité                   1015 non-null   object
 11  Valeur                  600 non-null    object
 12  Symbole                 1015 non-null   object
 13  Description du Symbole  1015 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 126.9+ KB

In [203]:
df_sousalimentation.nunique()

Code Domaine                1
Domaine                     1
Code zone                 203
Zone                      203
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  5
Année                       5
Unité                       1
Valeur                    141
Symbole                     3
Description du Symbole      3
Note                        0
dtype: int64

In [204]:
df_sousalimentation ['Année'] .unique()

array(['2012-2014', '2013-2015', '2014-2016', '2015-2017', '2016-2018'],
      dtype=object)

In [205]:
df_sousalimentation_an = df_sousalimentation.pivot_table(index = ['Code zone','Zone','Code Produit','Produit'], columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()
df_sousalimentation_an.head(10)

Année,Code zone,Zone,Code Produit,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,210011,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,210011,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,210011,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,210011,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
5,6,Andorre,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
6,7,Angola,210011,Nombre de personnes sous-alimentées (millions)...,8.1,7.6,7.4,7.4,7.4
7,8,Antigua-et-Barbuda,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
8,9,Argentine,210011,Nombre de personnes sous-alimentées (millions)...,1.5,1.5,1.6,1.8,2.1
9,10,Australie,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0

In [206]:
df_sousalimentation_an.head(10)

Année,Code zone,Zone,Code Produit,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,210011,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,210011,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,210011,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,210011,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
5,6,Andorre,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
6,7,Angola,210011,Nombre de personnes sous-alimentées (millions)...,8.1,7.6,7.4,7.4,7.4
7,8,Antigua-et-Barbuda,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0
8,9,Argentine,210011,Nombre de personnes sous-alimentées (millions)...,1.5,1.5,1.6,1.8,2.1
9,10,Australie,210011,Nombre de personnes sous-alimentées (millions)...,0,0,0,0,0

In [207]:
df_sousalimentation_an.loc[df_sousalimentation_an['2012-2014'] == '<0.1'] = 0

# Puis on passe la colonne en type numeric
df_sousalimentation_an['2012-2014'] = df_sousalimentation_an['2012-2014'].apply(pd.to_numeric)

In [208]:

nombre_personnes_sousalimentées_monde = (df_sousalimentation_an['2012-2014'].sum())*1000000
print(int(nombre_personnes_sousalimentées_monde),'de personnes sous-nutries pour 2013')

743700000 de personnes sous-nutries pour 2013

In [209]:

# On calcul le ratio de personnes sousalimentées sur la population totale
ratio_sousnutries = ((nombre_personnes_sousalimentées_monde) / nb_population)*100

In [210]:
print('La proportion de la population mondiale souffrant de sous-alimentation est de ', ratio_sousnutries , '% pour année 2013 .' )

La proportion de la population mondiale souffrant de sous-alimentation est de  10.628345742359295 % pour année 2013 .