# P3_Réalisez une étude de santé publique

## Importer  pandas et lire des bases de données

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

In [3]:
df_population 
df_animaux 
df_vegetaux 
df_céréales 
df_sousalimentation

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.6,F,Estimation FAO,NaN
1016,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,7.2,F,Estimation FAO,NaN
1017,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,7.8,F,Estimation FAO,NaN
1018,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,8.2,F,Estimation FAO,NaN
1019,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,8.5,F,Estimation FAO,NaN

### Connaître la base de données

In [4]:
df_population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [5]:
df_population.shape

(175, 14)

In [6]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [7]:
df_population.nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

In [8]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [9]:
df_population.tail()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

In [10]:
df_animaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                23
Produit                     23
Code année                   1
Année                        1
Unité                        4
Valeur                    3074
Symbole                      3
Description du Symbole       3
dtype: int64

In [11]:
df_animaux.shape

(37166, 14)

In [12]:
df_sousalimentation.shape

(1020, 15)

In [13]:
df_sousalimentation.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Note'],
      dtype='object')

In [14]:
df_sousalimentation.nunique()

Code Domaine                1
Domaine                     1
Code zone                 204
Zone                      204
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  5
Année                       5
Unité                       1
Valeur                    146
Symbole                     3
Description du Symbole      3
Note                        0
dtype: int64

In [15]:
df_sousalimentation.shape

(1020, 15)

In [16]:
df_céréales.shape

(891, 14)

In [17]:
df_vegetaux.shape

(104871, 14)

In [18]:
df_vegetaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                75
Produit                     75
Code année                   1
Année                        1
Unité                        4
Valeur                    6249
Symbole                      3
Description du Symbole       3
dtype: int64

In [19]:
df_céréales.nunique()

Code Domaine                1
Domaine                     1
Code zone                 167
Zone                      167
Code Élément                1
Élément                     1
Code Produit                9
Produit                     9
Code année                  1
Année                       1
Unité                       1
Valeur                    485
Symbole                     1
Description du Symbole      1
dtype: int64

In [20]:
df_population['Valeur']

0      30552
1      52776
2       3173
3      39208
4      82727
       ...
170    30405
171    91680
172    24407
173    14539
174    14150
Name: Valeur, Length: 175, dtype: int64

In [21]:
df_population['Valeur'].mean()

48079.96

In [22]:
df_population['Valeur'].describe()

count    1.750000e+02
mean     4.807996e+04
std      1.786327e+05
min      5.400000e+01
25%      2.543500e+03
50%      9.413000e+03
75%      2.888150e+04
max      1.416667e+06
Name: Valeur, dtype: float64

In [23]:
df_population[['Zone' , 'Valeur']]

                                       Zone  Valeur
0                               Afghanistan   30552
1                            Afrique du Sud   52776
2                                   Albanie    3173
3                                   Algérie   39208
4                                 Allemagne   82727
..                                      ...     ...
170  Venezuela (République bolivarienne du)   30405
171                                Viet Nam   91680
172                                   Yémen   24407
173                                  Zambie   14539
174                                Zimbabwe   14150

[175 rows x 2 columns]

In [24]:
df_population['Unité'].value_counts()

1000 personnes    175
Name: Unité, dtype: int64

# ## Faire des ffiltrages

In [25]:
df_population.iloc[18:20]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
18,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,23,Belize,511,Population totale,2501,Population,2013,2013,1000 personnes,332,NaN,Donnée officielle
19,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,53,Bénin,511,Population totale,2501,Population,2013,2013,1000 personnes,10323,NaN,Donnée officielle

In [26]:
df_population.iloc[18:20]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
18,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,23,Belize,511,Population totale,2501,Population,2013,2013,1000 personnes,332,NaN,Donnée officielle
19,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,53,Bénin,511,Population totale,2501,Population,2013,2013,1000 personnes,10323,NaN,Donnée officielle

In [27]:
df_population.iloc[18:20,[3,11]]

      Zone  Valeur
18  Belize     332
19   Bénin   10323

In [28]:
df_population.loc[18:20,['Zone','Valeur']]

        Zone  Valeur
18    Belize     332
19     Bénin   10323
20  Bermudes      65

In [29]:
df_céréales['Valeur']== 2

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890     True
Name: Valeur, Length: 891, dtype: bool

In [30]:
y = (df_population['Zone']=='Afghanistan')
df_population[y]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle

In [31]:
x= (df_population['Description du Symbole']=='Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')

In [32]:
df_population[x]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [6]:
df_céréales.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [8]:
df_céréales.shape

(891, 14)

In [10]:
df_céréales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [17]:
df_céréales['Produit'].unique()

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

In [20]:
df_céréales['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bangladesh', 'Barbade', 'Bélarus', 'Belgique', 'Belize', 'Bénin',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Cabo Verde', 'Cambodge', 'Cameroun', 'Canada',
       'Chili', 'Chine - RAS de Hong-Kong', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba', 'Danemark',
       'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Israël',
       'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan', 'Kenya',
       'Kirghizistan', 'Koweït', 'Lesotho', 'Lettonie', 'Liban',
       'Libéria', 'Lituanie', 'Luxembourg', 'Macédoine du Nord',
       'Madagascar', 'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte',
       'Maroc', 'Maurice', 'Mauritanie', 'Mexique', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Norvège', 'Nouvelle-Calédonie',
       'Nouvelle-Zélande', 'Oman', 'Ouganda', 'Ouzbékistan', 'Pakistan',
       'Panama', 'Paraguay', 'Pays-Bas', 'Pérou', 'Philippines',
       'Pologne', 'Portugal', 'République centrafricaine',
       'République de Corée', 'République de Moldova',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Vincent-et-les Grenadines',
       'Sao Tomé-et-Principe', 'Sénégal', 'Serbie', 'Sierra Leone',
       'Slovaquie', 'Slovénie', 'Soudan', 'Sri Lanka', 'Suède', 'Suisse',
       'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [15]:
df_céréales.nunique()

Code Domaine                1
Domaine                     1
Code zone                 167
Zone                      167
Code Élément                1
Élément                     1
Code Produit                9
Produit                     9
Code année                  1
Année                       1
Unité                       1
Valeur                    485
Symbole                     1
Description du Symbole      1
dtype: int64

In [21]:
df_animaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                23
Produit                     23
Code année                   1
Année                        1
Unité                        4
Valeur                    3074
Symbole                      3
Description du Symbole       3
dtype: int64

In [23]:
df_animaux.shape

(37166, 14)

In [24]:
df_vegetaux.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  175
Zone                       175
Code Élément                15
Élément                     15
Code Produit                75
Produit                     75
Code année                   1
Année                        1
Unité                        4
Valeur                    6249
Symbole                      3
Description du Symbole       3
dtype: int64

In [26]:
df_vegetaux.shape

(104871, 14)

In [30]:
df_vegetaux ['Description du Symbole'].unique()

array(['Données standardisées', 'Donnée calculée',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)