# Exportation des DataFrames pour intégration Sqlit # P3_Réalisez une étude de santé publique

In [298]:
#impotter des librairies
import pandas as pd
import numpy as np
#impotter de librairie sqlite3 et Créer une base de données
import csv ,sqlite3
#Faire la base de données 
con = sqlite3.connect('la faim dans le monde en 2013.db ')
cur =con.cursor()

# Question 15 : Proposez une clé primaire pertinente pour cette table.¶
Votre base devra contenir ces différentes tables : Une table appelée population, contenant la population de chaque pays pour 2013. Elle devra contenir 4 colonnes : pays, code_pays, annee, population.

##### Réponse à la question 15 : Tableau « Population »\ J'ai choisi la propriété "code pays" comme clé primaire car elle est unique et courte et ne peut pas être nulle

In [299]:
#Créer une table à l'aide de sqlite
cur.execute("""CREATE TABLE 'population' (
"pays" TEXT NOT NULL,
 "code_pays" INTEGER NOT NULL,
 "annee" INTEGER NOT NULL,
 "population" INTEGER NOT NULL,
 PRIMARY KEY("code_pays")
)""");

In [300]:
#importer un fichier CSV
df_population = pd.read_csv('population.csv')
#Exporter la table en tant que SQL dans une base de données
df_population.to_sql('population', con, if_exists='append', index=False)

In [301]:
#Requête de table
cur.execute ("select * from 'population'")
cur.fetchall()

[('Arménie', 1, 2013, 2977000),
 ('Afghanistan', 2, 2013, 30552000),
 ('Albanie', 3, 2013, 3173000),
 ('Algérie', 4, 2013, 39208000),
 ('Angola', 7, 2013, 21472000),
 ('Antigua-et-Barbuda', 8, 2013, 90000),
 ('Argentine', 9, 2013, 41446000),
 ('Australie', 10, 2013, 23343000),
 ('Autriche', 11, 2013, 8495000),
 ('Bahamas', 12, 2013, 377000),
 ('Barbade', 14, 2013, 285000),
 ('Bangladesh', 16, 2013, 156595000),
 ('Bermudes', 17, 2013, 65000),
 ('Bolivie (État plurinational de)', 19, 2013, 10671000),
 ('Botswana', 20, 2013, 2021000),
 ('Brésil', 21, 2013, 200362000),
 ('Belize', 23, 2013, 332000),
 ('Îles Salomon', 25, 2013, 561000),
 ('Brunéi Darussalam', 26, 2013, 418000),
 ('Bulgarie', 27, 2013, 7223000),
 ('Myanmar', 28, 2013, 53259000),
 ('Cameroun', 32, 2013, 22254000),
 ('Canada', 33, 2013, 35182000),
 ('Cabo Verde', 35, 2013, 499000),
 ('République centrafricaine', 37, 2013, 4616000),
 ('Sri Lanka', 38, 2013, 21273000),
 ('Tchad', 39, 2013, 12825000),
 ('Chili', 40, 2013, 17620000),
 ('Chine, continentale', 41, 2013, 1385567000),
 ('Colombie', 44, 2013, 48321000),
 ('Congo', 46, 2013, 4448000),
 ('Costa Rica', 48, 2013, 4872000),
 ('Cuba', 49, 2013, 11266000),
 ('Chypre', 50, 2013, 1141000),
 ('Azerbaïdjan', 52, 2013, 9413000),
 ('Bénin', 53, 2013, 10323000),
 ('Danemark', 54, 2013, 5619000),
 ('Dominique', 55, 2013, 72000),
 ('République dominicaine', 56, 2013, 10404000),
 ('Bélarus', 57, 2013, 9357000),
 ('Équateur', 58, 2013, 15738000),
 ('Égypte', 59, 2013, 82056000),
 ('El Salvador', 60, 2013, 6340000),
 ('Estonie', 63, 2013, 1287000),
 ('Fidji', 66, 2013, 881000),
 ('Finlande', 67, 2013, 5426000),
 ('France', 68, 2013, 64291000),
 ('Polynésie française', 70, 2013, 277000),
 ('Djibouti', 72, 2013, 873000),
 ('Géorgie', 73, 2013, 4341000),
 ('Gabon', 74, 2013, 1672000),
 ('Gambie', 75, 2013, 1849000),
 ('Allemagne', 79, 2013, 82727000),
 ('Bosnie-Herzégovine', 80, 2013, 3829000),
 ('Ghana', 81, 2013, 25905000),
 ('Kiribati', 83, 2013, 102000),
 ('Grèce', 84, 2013, 11128000),
 ('Grenade', 86, 2013, 106000),
 ('Guatemala', 89, 2013, 15468000),
 ('Guinée', 90, 2013, 11745000),
 ('Guyana', 91, 2013, 800000),
 ('Haïti', 93, 2013, 10317000),
 ('Honduras', 95, 2013, 8096000),
 ('Chine - RAS de Hong-Kong', 96, 2013, 7204000),
 ('Hongrie', 97, 2013, 9955000),
 ('Croatie', 98, 2013, 4290000),
 ('Islande', 99, 2013, 330000),
 ('Inde', 100, 2013, 1252140000),
 ('Indonésie', 101, 2013, 249866000),
 ("Iran (République islamique d')", 102, 2013, 77447000),
 ('Iraq', 103, 2013, 33765000),
 ('Irlande', 104, 2013, 4627000),
 ('Israël', 105, 2013, 7733000),
 ('Italie', 106, 2013, 60990000),
 ("Côte d'Ivoire", 107, 2013, 20316000),
 ('Kazakhstan', 108, 2013, 16441000),
 ('Jamaïque', 109, 2013, 2784000),
 ('Japon', 110, 2013, 127144000),
 ('Jordanie', 112, 2013, 7274000),
 ('Kirghizistan', 113, 2013, 5548000),
 ('Kenya', 114, 2013, 44354000),
 ('Cambodge', 115, 2013, 15135000),
 ('République populaire démocratique de Corée', 116, 2013, 24895000),
 ('République de Corée', 117, 2013, 49263000),
 ('Koweït', 118, 2013, 3369000),
 ('Lettonie', 119, 2013, 2050000),
 ('République démocratique populaire lao', 120, 2013, 6770000),
 ('Liban', 121, 2013, 4822000),
 ('Lesotho', 122, 2013, 2074000),
 ('Libéria', 123, 2013, 4294000),
 ('Lituanie', 126, 2013, 3017000),
 ('Chine - RAS de Macao', 128, 2013, 566000),
 ('Madagascar', 129, 2013, 22925000),
 ('Malawi', 130, 2013, 16363000),
 ('Malaisie', 131, 2013, 29717000),
 ('Maldives', 132, 2013, 345000),
 ('Mali', 133, 2013, 15302000),
 ('Malte', 134, 2013, 429000),
 ('Mauritanie', 136, 2013, 3890000),
 ('Maurice', 137, 2013, 1244000),
 ('Mexique', 138, 2013, 122332000),
 ('Mongolie', 141, 2013, 2839000),
 ('Maroc', 143, 2013, 33008000),
 ('Mozambique', 144, 2013, 25834000),
 ('République de Moldova', 146, 2013, 3487000),
 ('Namibie', 147, 2013, 2303000),
 ('Népal', 149, 2013, 27797000),
 ('Pays-Bas', 150, 2013, 16759000),
 ('Nouvelle-Calédonie', 153, 2013, 256000),
 ('Macédoine du Nord', 154, 2013, 2107000),
 ('Vanuatu', 155, 2013, 253000),
 ('Nouvelle-Zélande', 156, 2013, 4506000),
 ('Nicaragua', 157, 2013, 6080000),
 ('Niger', 158, 2013, 17831000),
 ('Nigéria', 159, 2013, 173615000),
 ('Norvège', 162, 2013, 5043000),
 ('Pakistan', 165, 2013, 182143000),
 ('Panama', 166, 2013, 3864000),
 ('Tchéquie (la)', 167, 2013, 10702000),
 ('Paraguay', 169, 2013, 6802000),
 ('Pérou', 170, 2013, 30376000),
 ('Philippines', 171, 2013, 98394000),
 ('Pologne', 173, 2013, 38217000),
 ('Portugal', 174, 2013, 10608000),
 ('Guinée-Bissau', 175, 2013, 1704000),
 ('Timor-Leste', 176, 2013, 1133000),
 ('Zimbabwe', 181, 2013, 14150000),
 ('Roumanie', 183, 2013, 21699000),
 ('Rwanda', 184, 2013, 11777000),
 ('Fédération de Russie', 185, 2013, 142834000),
 ('Saint-Kitts-et-Nevis', 188, 2013, 54000),
 ('Sainte-Lucie', 189, 2013, 182000),
 ('Saint-Vincent-et-les Grenadines', 191, 2013, 109000),
 ('Sao Tomé-et-Principe', 193, 2013, 193000),
 ('Arabie saoudite', 194, 2013, 28829000),
 ('Sénégal', 195, 2013, 14133000),
 ('Sierra Leone', 197, 2013, 6092000),
 ('Slovénie', 198, 2013, 2072000),
 ('Slovaquie', 199, 2013, 5450000),
 ('Afrique du Sud', 202, 2013, 52776000),
 ('Espagne', 203, 2013, 46927000),
 ('Suriname', 207, 2013, 539000),
 ('Tadjikistan', 208, 2013, 8208000),
 ('Eswatini', 209, 2013, 1250000),
 ('Suède', 210, 2013, 9571000),
 ('Suisse', 211, 2013, 8078000),
 ('Turkménistan', 213, 2013, 5240000),
 ('Chine, Taiwan Province de', 214, 2013, 23330000),
 ('République-Unie de Tanzanie', 215, 2013, 49253000),
 ('Thaïlande', 216, 2013, 67011000),
 ('Togo', 217, 2013, 6817000),
 ('Trinité-et-Tobago', 220, 2013, 1341000),
 ('Oman', 221, 2013, 3632000),
 ('Tunisie', 222, 2013, 10997000),
 ('Turquie', 223, 2013, 74933000),
 ('Émirats arabes unis', 225, 2013, 9346000),
 ('Ouganda', 226, 2013, 37579000),
 ('Royaume-Uni', 229, 2013, 63384000),
 ('Ukraine', 230, 2013, 45239000),
 ("États-Unis d'Amérique", 231, 2013, 320051000),
 ('Burkina Faso', 233, 2013, 16935000),
 ('Uruguay', 234, 2013, 3407000),
 ('Ouzbékistan', 235, 2013, 28934000),
 ('Venezuela (République bolivarienne du)', 236, 2013, 30405000),
 ('Viet Nam', 237, 2013, 91680000),
 ('Éthiopie', 238, 2013, 94101000),
 ('Samoa', 244, 2013, 190000),
 ('Yémen', 249, 2013, 24407000),
 ('Zambie', 251, 2013, 14539000),
 ('Belgique', 255, 2013, 11104000),
 ('Luxembourg', 256, 2013, 530000),
 ('Serbie', 272, 2013, 9511000),
 ('Monténégro', 273, 2013, 621000),
 ('Soudan', 276, 2013, 37964000)]

In [302]:
#Requête de table
var = cur.execute ("select * from 'population'")
for record in var :
    print (record[0] ,record[1] , record[2], record[3])

Arménie 1 2013 2977000
Afghanistan 2 2013 30552000
Albanie 3 2013 3173000
Algérie 4 2013 39208000
Angola 7 2013 21472000
Antigua-et-Barbuda 8 2013 90000
Argentine 9 2013 41446000
Australie 10 2013 23343000
Autriche 11 2013 8495000
Bahamas 12 2013 377000
Barbade 14 2013 285000
Bangladesh 16 2013 156595000
Bermudes 17 2013 65000
Bolivie (État plurinational de) 19 2013 10671000
Botswana 20 2013 2021000
Brésil 21 2013 200362000
Belize 23 2013 332000
Îles Salomon 25 2013 561000
Brunéi Darussalam 26 2013 418000
Bulgarie 27 2013 7223000
Myanmar 28 2013 53259000
Cameroun 32 2013 22254000
Canada 33 2013 35182000
Cabo Verde 35 2013 499000
République centrafricaine 37 2013 4616000
Sri Lanka 38 2013 21273000
Tchad 39 2013 12825000
Chili 40 2013 17620000
Chine, continentale 41 2013 1385567000
Colombie 44 2013 48321000
Congo 46 2013 4448000
Costa Rica 48 2013 4872000
Cuba 49 2013 11266000
Chypre 50 2013 1141000
Azerbaïdjan 52 2013 9413000
Bénin 53 2013 10323000
Danemark 54 2013 5619000
Dominique 55 2013 72000
République dominicaine 56 2013 10404000
Bélarus 57 2013 9357000
Équateur 58 2013 15738000
Égypte 59 2013 82056000
El Salvador 60 2013 6340000
Estonie 63 2013 1287000
Fidji 66 2013 881000
Finlande 67 2013 5426000
France 68 2013 64291000
Polynésie française 70 2013 277000
Djibouti 72 2013 873000
Géorgie 73 2013 4341000
Gabon 74 2013 1672000
Gambie 75 2013 1849000
Allemagne 79 2013 82727000
Bosnie-Herzégovine 80 2013 3829000
Ghana 81 2013 25905000
Kiribati 83 2013 102000
Grèce 84 2013 11128000
Grenade 86 2013 106000
Guatemala 89 2013 15468000
Guinée 90 2013 11745000
Guyana 91 2013 800000
Haïti 93 2013 10317000
Honduras 95 2013 8096000
Chine - RAS de Hong-Kong 96 2013 7204000
Hongrie 97 2013 9955000
Croatie 98 2013 4290000
Islande 99 2013 330000
Inde 100 2013 1252140000
Indonésie 101 2013 249866000
Iran (République islamique d') 102 2013 77447000
Iraq 103 2013 33765000
Irlande 104 2013 4627000
Israël 105 2013 7733000
Italie 106 2013 60990000
Côte d'Ivoire 107 2013 20316000
Kazakhstan 108 2013 16441000
Jamaïque 109 2013 2784000
Japon 110 2013 127144000
Jordanie 112 2013 7274000
Kirghizistan 113 2013 5548000
Kenya 114 2013 44354000
Cambodge 115 2013 15135000
République populaire démocratique de Corée 116 2013 24895000
République de Corée 117 2013 49263000
Koweït 118 2013 3369000
Lettonie 119 2013 2050000
République démocratique populaire lao 120 2013 6770000
Liban 121 2013 4822000
Lesotho 122 2013 2074000
Libéria 123 2013 4294000
Lituanie 126 2013 3017000
Chine - RAS de Macao 128 2013 566000
Madagascar 129 2013 22925000
Malawi 130 2013 16363000
Malaisie 131 2013 29717000
Maldives 132 2013 345000
Mali 133 2013 15302000
Malte 134 2013 429000
Mauritanie 136 2013 3890000
Maurice 137 2013 1244000
Mexique 138 2013 122332000
Mongolie 141 2013 2839000
Maroc 143 2013 33008000
Mozambique 144 2013 25834000
République de Moldova 146 2013 3487000
Namibie 147 2013 2303000
Népal 149 2013 27797000
Pays-Bas 150 2013 16759000
Nouvelle-Calédonie 153 2013 256000
Macédoine du Nord 154 2013 2107000
Vanuatu 155 2013 253000
Nouvelle-Zélande 156 2013 4506000
Nicaragua 157 2013 6080000
Niger 158 2013 17831000
Nigéria 159 2013 173615000
Norvège 162 2013 5043000
Pakistan 165 2013 182143000
Panama 166 2013 3864000
Tchéquie (la) 167 2013 10702000
Paraguay 169 2013 6802000
Pérou 170 2013 30376000
Philippines 171 2013 98394000
Pologne 173 2013 38217000
Portugal 174 2013 10608000
Guinée-Bissau 175 2013 1704000
Timor-Leste 176 2013 1133000
Zimbabwe 181 2013 14150000
Roumanie 183 2013 21699000
Rwanda 184 2013 11777000
Fédération de Russie 185 2013 142834000
Saint-Kitts-et-Nevis 188 2013 54000
Sainte-Lucie 189 2013 182000
Saint-Vincent-et-les Grenadines 191 2013 109000
Sao Tomé-et-Principe 193 2013 193000
Arabie saoudite 194 2013 28829000
Sénégal 195 2013 14133000
Sierra Leone 197 2013 6092000
Slovénie 198 2013 2072000
Slovaquie 199 2013 5450000
Afrique du Sud 202 2013 52776000
Espagne 203 2013 46927000
Suriname 207 2013 539000
Tadjikistan 208 2013 8208000
Eswatini 209 2013 1250000
Suède 210 2013 9571000
Suisse 211 2013 8078000
Turkménistan 213 2013 5240000
Chine, Taiwan Province de 214 2013 23330000
République-Unie de Tanzanie 215 2013 49253000
Thaïlande 216 2013 67011000
Togo 217 2013 6817000
Trinité-et-Tobago 220 2013 1341000
Oman 221 2013 3632000
Tunisie 222 2013 10997000
Turquie 223 2013 74933000
Émirats arabes unis 225 2013 9346000
Ouganda 226 2013 37579000
Royaume-Uni 229 2013 63384000
Ukraine 230 2013 45239000
États-Unis d'Amérique 231 2013 320051000
Burkina Faso 233 2013 16935000
Uruguay 234 2013 3407000
Ouzbékistan 235 2013 28934000
Venezuela (République bolivarienne du) 236 2013 30405000
Viet Nam 237 2013 91680000
Éthiopie 238 2013 94101000
Samoa 244 2013 190000
Yémen 249 2013 24407000
Zambie 251 2013 14539000
Belgique 255 2013 11104000
Luxembourg 256 2013 530000
Serbie 272 2013 9511000
Monténégro 273 2013 621000
Soudan 276 2013 37964000

# Question 16 : Proposez une clé primaire pertinente pour cette table.
Une table appelée dispo_alim contenant pour chaque pays et pour chaque produit en 2013, les informations suivantes:\
la nature du produit (deux valeurs possibles : “animal” ou “végétal”)\
disponibilité alimentaire en tonnes\
disponibilité alimentaire en Kcal/personne/jour\
disponibilité alimentaire de protéines en g/personne/jour\
disponibilité alimentaire de matières grasses en g/personne/jour\
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, \dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .

##### Réponse à la question 16. Le "code pays" ne peut pas être considéré comme la clé primaire, car il y a autant d'entrées pour un même pays que le nombre de produits.  De plus, le "code produit" ne peut pas être considéré comme une clé primaire car il y aura autant d'entrées pour un même produit que le nombre de pays. Nous allons donc considérer la clé primaire qui se compose de deux colonnes,"code pays" et "code produit"

In [303]:
#Créer une table à l'aide de sqlite
cur.execute("""CREATE TABLE 'dispo_alim' (
 "code_pays" INTEGER NOT NULL,
 "pays" TEXT,
 "année" INTEGER NOT NULL,
 "code_produit" INTEGER NOT NULL,
 "produit" TEXT,
 "origin" TEXT,
 "dispo_alim_kcal_p_j" REAL,
 "dispo_prot" REAL,
 "dispo_mat_gr" REAL,
 "dispo_alim_tonnes" REAL,
 PRIMARY KEY("code_pays","code_produit")
)""");

In [304]:
#importer un fichier CSV
df_dispo_alim = pd.read_csv('dispo_alim.csv')
#Exporter la table en tant que SQL dans une base de données
df_dispo_alim.to_sql('dispo_alim', con, if_exists='append', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'dispo_alim.csv'

In [305]:
#Requête de table
cur.execute ("select * from 'dispo_alim'")
print (cur.fetchmany(10))

[]

# Question 17 : Proposez une clé primaire pertinente pour  table  "equilibre_prod".
Une table appelée equilibre_prod contenant pour chaque pays et pour chaque produit en 2013, les quantités suivantes :\
disponibilité intérieure\
aliments pour animaux\
semences\
pertes\
transformés\
nourriture\
autres utilisations\
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, \pertes, transfo, nourriture, autres_utilisations.

##### Réponse à la question 17 : Choix de la clé primaire. \ Le "code pays" ne peut pas être considéré comme la clé primaire, car il y a autant d'entrées pour un même pays que le nombre de produits. De plus, le "code produit" ne peut pas être considéré comme une clé primaire car il y aura autant d'entrées pour un même produit que le nombre de pays. Nous allons donc considérer la clé primaire qui se compose de deux colonnes," code pays" et "code produit"

In [306]:
#Créer une table à l'aide de sqlite
cur.execute("""CREATE TABLE 'equilibre_prod' (
 "pays" TEXT,
 "code_pays" INTEGER NOT NULL,
 "année" INTEGER NOT NULL,
 "produit" TEXT NOT NULL,
 "code_produit" INTEGER NOT NULL,
 "dispo_int" REAL,
 "alim_ani" REAL,
 "semences" REAL,
 "pertes" REAL,
 "transfo" REAL,
 "nourriture" REAL,
 "autres_utilisations" REAL,
 PRIMARY KEY("code_pays","code_produit")
)""");

In [307]:
#importer un fichier CSV
df_equilibre_prod = pd.read_csv('equilibre_prod.csv')
#Exporter la table en tant que SQL dans une base de données
df_equilibre_prod.to_sql('equilibre_prod', con, if_exists='append', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'equilibre_prod.csv'

In [308]:
#Requête de table
var = cur.execute ("select * from 'equilibre_prod'")
for record in var :
    print (record[0] ,record[1] , record[2], record[3],record[4] , record[5] ,record[6] ,record[7] ,record[8] , record[9] ,record[10] ,record[11] )

In [309]:
#Requête de table
cur.execute ("select * from 'equilibre_prod'")
print (cur.fetchmany(15))

[]

# Question 18 : proposez une clé primaire pertinente pour cette table !¶        
Une table appelée sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays en 2013.   Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes.

##### Réponse à la question 18 :    J'ai choisi la propriété "code pays" comme clé primaire car elle est unique et courte et ne peut pas être nulle

In [310]:

#Créer une table à l'aide de sqlite
cur.execute("""CREATE TABLE "sous_nutrition" (
"pays"TEXT,
" code_pays"INTEGER,
"nb_personnes"REAL,
"annee"INTEGER
);""")

In [311]:

#importer un fichier CSV
df_sous_nutrition = pd.read_csv('sous_nutrition.csv')
#Exporter la table en tant que SQL dans une base de données
df_sous_nutrition.to_sql('sous_nutrition', con, if_exists='append', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'sous_nutrition.csv'

In [312]:
#Requête de table

var = cur.execute ("select * from 'sous_nutrition'")
print ("pays  \t   \t   \t  code_pays    \t \t  \t nb_personnes  \t \t annee")
print ("===== \t   \t   \t  =========   \t \t  \t ============  \t \t =====")

for record in var :
    print (record[0]+" \t " +" \t "+ str(record[1]) + " \t " +" \t "+"\t" +"\t"+ str(record[2])+ "\t" +"\t"+ str (record[3] ))

pays  	   	   	  code_pays    	 	  	 nb_personnes  	 	 annee
===== 	   	   	  =========   	 	  	 ============  	 	 =====

# Question 19 : Écrivez les requêtes SQL permettant de connaître…

Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.
Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.
La quantité totale (en kg) de produits perdus par pays en 2013.
Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.
Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.

In [313]:
top_pays_dispo_kg_prot = cur.execute("""SELECT  pays,  (sum(dispo_alim.dispo_prot * 365)/1000) as ratio_dipo_prot_pays_kg_habts 
FROM dispo_alim 
GROUP BY dispo_alim.pays
ORDER BY ratio_dipo_prot_pays_kg_habts  DESC
LIMIT  0,10""")
 
    
df_top_pays_dispo_kg_prot = pd.DataFrame(top_pays_dispo_kg_prot)

In [314]:
df_top_pays_dispo_kg_prot

Empty DataFrame
Columns: []
Index: []

In [315]:
top_pays_dispo_kcal = cur.execute("""SELECT pays, (SUM(dispo_alim_kcal_p_j * 365)) AS ratio_dipo_pays_kcal_habts 
FROM dispo_alim
GROUP BY dispo_alim.pays
ORDER BY ratio_dipo_pays_kcal_habts  DESC
LIMIT  0,10""")
 
    
df_ratio_dipo_pays_kcal_habts = pd.DataFrame(top_pays_dispo_kcal)

In [316]:
df_ratio_dipo_pays_kcal_habts

Empty DataFrame
Columns: []
Index: []

In [317]:
#Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.

top_pays_faible_dispo_kg_prot = cur.execute("""SELECT  pays , 
(SUM(dispo_alim.dispo_prot * 365)/1000) AS ratio_dipo_prot_pays_kg_habts 
FROM dispo_alim 

GROUP BY dispo_alim.pays
ORDER BY ratio_dipo_prot_pays_kg_habts 
LIMIT  0,10""")
    
df_top_pays__faible_dispo_kg_prot = pd.DataFrame(top_pays_faible_dispo_kg_prot)

In [318]:
df_top_pays__faible_dispo_kg_prot.head(10)

Empty DataFrame
Columns: []
Index: []

In [319]:
#La quantité totale (en kg) de produits perdus par pays en 2013.

quantité_totale_kg = cur.execute("""
SELECT pays, SUM(pertes*1000) AS pertes_pays_kg
FROM equilibre_prod
GROUP BY pays
""")
 
df_pays_quantité_totale_perdus= pd.DataFrame(quantité_totale_kg)

In [320]:
df_pays_quantité_totale_perdus.head(10)

Empty DataFrame
Columns: []
Index: []

In [321]:
#Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.

top_pays_sous_alimentées = cur.execute("""
SELECT sous_nutrition.pays, ((sous_nutrition.nb_personnes/population.population)*100) AS taux_sous_nutrition
FROM sous_nutrition
NATURAL JOIN population
ORDER BY taux_sous_nutrition DESC
LIMIT 0,10
""")

df_top_pays_sous_alimentées = pd.DataFrame(top_pays_sous_alimentées)

In [323]:
df_top_pays_sous_alimentées = pd.DataFrame(top_pays_sous_alimentées)

In [324]:
df_top_pays_sous_alimentées

Empty DataFrame
Columns: []
Index: []

In [325]:
#Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.
top_ratio_autres_sur_dispo = cur.execute("""
SELECT produit, AVG(autres_utilisations / dispo_int) AS ratio_autres_sur_dispo_interieure
FROM equilibre_prod
GROUP BY produit
ORDER BY ratio_autres_sur_dispo_interieure DESC
LIMIT 0,10""")

In [326]:
df_top_ratio_autres_sur_dispo = pd.DataFrame(top_ratio_autres_sur_dispo)

In [327]:
df_top_ratio_autres_sur_dispo.head()

Empty DataFrame
Columns: []
Index: []

# Question 20 :
pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

Alcool non comestible
L'alcool non comestible est utilisé dans la fabrication de produits cosmétiques ou d'autres alcools ménagers. Il est également utilisé médicalement après modification comme antiseptique

huile de palme
On retrouve l'huile de palme dans les produits manufacturés non alimentaires, comme les dentifrices et les cosmétiques, et même dans le carburant comme source d'énergie alternative.

Piment
Il est utilisé dans les parfums et les cosmétiques. Ils sont également utilisés comme insecticides ou bombes défensives.