# P3_Réalisez une étude de santé publique

In [54]:
#impotter des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
%matplotlib inline

In [55]:
#importer des database
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

In [73]:
#Supprimer la ligne Chine
df_population = df_population[df_population['Code zone'] != 351]
df_animaux = df_animaux[df_animaux['Code zone'] != 351]
df_vegetaux = df_vegetaux[df_vegetaux['Code zone'] != 351]
df_céréales = df_céréales[df_céréales['Code zone'] != 351]
df_sousalimentation = df_sousalimentation[df_sousalimentation['Code zone'] != 351 ]

In [74]:
#Ajouter une colonne 'Radical' aux deux tables df_vegetaux et df_animaux
df_vegetaux['Radical'] = 'plante'
df_animaux['Radical'] = 'animal'

In [75]:
#fusionner les deux tables
df_vegetaux_animaux = df_animaux.append (df_vegetaux)

In [76]:
# Jointure avec la table population sur le Code zone 
df_vegetaux_animaux= pd.merge(df_vegetaux_animaux,df_population, on = 'Code zone' )

In [77]:
#  recréer un DataFrame avec les colonnes nécessaires
df_vegetaux_animaux= df_vegetaux_animaux[['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Année_x',
       'Unité_x', 'Valeur_x','Radical', 'Valeur_y']]

In [78]:
#Changer les noms de colonnes
df_vegetaux_animaux = df_vegetaux_animaux.rename(columns= {'Code Domaine_x':'Code Domaine', 'Domaine_x':'Domaine', 'Code zone': 'Code zone', 'Zone_x': 'Zone', 'Code Élément_x': 'Code Élément',
       'Élément_x':'Élément', 'Code Produit_x':'Code Produit', 'Produit_x': 'Produit', 'Année_x': 'Année',
       'Unité_x':'Unité', 'Valeur_x':'Valeur','Radical':'Radical', 'Valeur_y':'Population'})

In [79]:
#Population par pays
df_vegetaux_animaux['Population'] = df_vegetaux_animaux['Population'] * 1000

In [80]:
# On créé un pivot avec les éléments en colonne
df_vegetaux_animaux = df_vegetaux_animaux.pivot_table( index = [ 'Code zone', 'Zone', 'Code Produit', 'Produit', 'Année', 'Radical', 'Population'] , columns = 'Élément', values = 'Valeur', aggfunc = sum).reset_index()

In [81]:
df_sousalimentation ['Année'] .unique()

array(['2012-2014', '2013-2015', '2014-2016', '2015-2017', '2016-2018'],
      dtype=object)

In [82]:
df_sousalimentation_an = df_sousalimentation.pivot_table(index = ['Code zone','Zone','Code Produit','Produit'], columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()

In [72]:
df_sousalimentation_an[df_sousalimentation_an['2012-2014'] == '<0.1'] = 0

# Puis on passe la colonne en type numeric
df_sousalimentation_an['2012-2014'] = df_sousalimentation_an['2012-2014'].apply(pd.to_numeric)
df_sousalimentation_an

Année,Code zone,Zone,Code Produit,Produit,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018
0,1,Arménie,210011,Nombre de personnes sous-alimentées (millions)...,0.1,0.1,0.1,0.1,0.1
1,2,Afghanistan,210011,Nombre de personnes sous-alimentées (millions)...,7.9,8.8,9.6,10.2,10.6
2,3,Albanie,210011,Nombre de personnes sous-alimentées (millions)...,0.2,0.2,0.2,0.2,0.2
3,4,Algérie,210011,Nombre de personnes sous-alimentées (millions)...,1.7,1.6,1.6,1.6,1.6
4,5,Samoa américaines,210011,Nombre de personnes sous-alimentées (millions)...,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
198,272,Serbie,210011,Nombre de personnes sous-alimentées (millions)...,0.5,0.5,0.5,0.5,0.5
199,273,Monténégro,210011,Nombre de personnes sous-alimentées (millions)...,0.0,0,0,0,0
200,276,Soudan,210011,Nombre de personnes sous-alimentées (millions)...,8.3,7.9,7.8,7.9,8.2
201,277,Soudan du Sud,210011,Nombre de personnes sous-alimentées (millions)...,0.0,0,0,0,0
202,299,Palestine,210011,Nombre de personnes sous-alimentées (millions)...,0.0,0,0,0,0

In [ ]:
# Population 2013
df_population_2013 = df_population [['Code zone', 'Zone', 'Année','Valeur']]
df_population_2013['Valeur'] = df_population_2013['Valeur'] * 1000
df_population_2013 = df_population_2013.rename (columns ={'Zone':'Pays',  'Code zone':'code pays','Année': 'année', 'Valeur' :'population'})

df_population_2013.to_csv("exports/population.csv", index = False)
df_population_2013

# Question 16 : Proposez une clé primaire pertinente pour  table dispo_alim.
Une table appelée dispo_alim contenant pour chaque pays et pour chaque produit en 2013, les informations suivantes:
la nature du produit (deux valeurs possibles : “animal” ou “végétal”)
disponibilité alimentaire en tonnes
disponibilité alimentaire en Kcal/personne/jour
disponibilité alimentaire de protéines en g/personne/jour
disponibilité alimentaire de matières grasses en g/personne/jour
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .
Question 16 : Proposez une clé primaire pertinente pour  table dispo_alim.

In [71]:
df_dispo_alim = df_vegetaux_animaux[['Code zone','Zone','Année','Code Produit', 'Produit', 'Radical',  'Population' , 'Disponibilité alimentaire en quantité (kg/personne/an)',  'Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité de matière grasse en quantité (g/personne/jour)']]

#calculer disponibilité alimentaire en tonnes
df_dispo_alim['disponibilité alimentaire en tonnes'] = df_dispo_alim['Disponibilité alimentaire en quantité (kg/personne/an)']* df_dispo_alim['Population']*365 /1000
df_dispo_alim = df_dispo_alim.rename(columns = {'Code zone': 'code_pays','Zone': 'pays','Année':  'année','Code Produit': 'code_produit', 'Produit':'produit' , 'Radical': 'origin','disponibilité alimentaire en tonnes':'dispo_alim_tonnes',  'Disponibilité alimentaire (Kcal/personne/jour)': 'dispo_alim_kcal_p_j','Disponibilité de protéines en quantité (g/personne/jour)': 'dispo_prot', 'Disponibilité de matière grasse en quantité (g/personne/jour)': 'dispo_mat_gr'  })
df_dispo_alim.drop('Population', axis='columns', inplace=True)
df_dispo_alim.drop('Disponibilité alimentaire en quantité (kg/personne/an)', axis='columns', inplace=True)
df_dispo_alim.to_csv('exports/dispo_alim.csv', index=False)

<ipython-input-71-174c0dce2fa5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dispo_alim['disponibilité alimentaire en tonnes'] = df_dispo_alim['Disponibilité alimentaire en quantité (kg/personne/an)']* df_dispo_alim['Population']*365 /1000

# Réponse à la question 16
Le "code pays" ne peut pas être considéré comme la clé primaire, car il y a autant d'entrées pour un même pays que le nombre de produits.
De plus, le "code produit" ne peut pas être considéré comme une clé primaire car il y aura autant d'entrées pour un même produit que le nombre de pays.
Nous allons donc considérer la clé primaire qui se compose de deux colonnes,"code pays" et "code produit"

# Question 17 : Proposez une clé primaire pertinente pour  table  "equilibre_prod".
Une table appelée equilibre_prod contenant pour chaque pays et pour chaque produit en 2013, les quantités suivantes :
disponibilité intérieure
aliments pour animaux
semences
pertes
transformés
nourriture
autres utilisations
Elle devra contenir ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.

In [36]:
# Export du dataframe equilibre_prod
df_equilibre_prod = df_vegetaux_animaux[['Zone','Code zone', 'Année','Produit', 'Code Produit','Disponibilité intérieure', 'Aliments pour animaux', 'Semences', 'Pertes','Traitement','Nourriture','Autres utilisations (non alimentaire)']]
df_equilibre_prod = df_equilibre_prod.rename(columns =  {'Code zone':'code_pays', 'Zone':'pays', 'Code Produit' :'code_produit', 'Produit':'produit', 'Année':'année','Disponibilité intérieure': 'dispo_int', 'Aliments pour animaux':'alim_ani', 'Semences': 'semences', 'Pertes': 'pertes','Traitement': 'transfo','Nourriture':'nourriture','Autres utilisations (non alimentaire)':'autres_utilisations'})

# Conversion des unités "Millier de tonnes" en Tonnes
df_equilibre_prod.loc[:, ['dispo_int', 'alim_ani', 'semences', 'pertes', 'transfo', 'nourriture','autres_utilisations']]*=1000
df_equilibre_prod.to_csv('exports/equilibre_prod.csv', index= False)
df_equilibre_prod

KeyError: "['Autres utilisations (non alimentaire)', 'Traitement', 'Semences', 'Disponibilité intérieure', 'Aliments pour animaux', 'Nourriture', 'Pertes'] not in index"

# Réponse à la question 17 : Choix de la clé primaire
Le "code pays" ne peut pas être considéré comme la clé primaire, car il y a autant d'entrées pour un même pays que le nombre de produits. De plus, le "code produit" ne peut pas être considéré comme une clé primaire car il y aura autant d'entrées pour un même produit que le nombre de pays. Nous allons donc considérer la clé primaire qui se compose de deux colonnes," code pays" et "code produit"

# Question 18 : proposez encore une fois une clé primaire pertinente pour  table  sous_nutrition.
Une table appelée sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays en 2013. Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes.

In [21]:
#Une table appelée sous_nutrition, contenant le nombre de personnes en sous-alimentation pour chaque pays en 2013. Elle devra contenir 4 colonnes : pays, code_pays, année, nb_personnes.
df_sous_nutrition = df_sousalimentation_an[['Zone','Code zone','2012-2014']]
df_sous_nutrition [' année'] = 2013
df_sous_nutrition['2012-2014'] = df_sous_nutrition['2012-2014'] * 1000000

df_sous_nutrition= df_sous_nutrition.rename(columns={'Code zone':' code pays', 'Zone': 'pays','2012-2014':'nb_personnes'})
df_sous_nutrition.to_csv('exports/sous_nutrition.csv' , index = False)

<ipython-input-21-53cafd2a7eb9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sous_nutrition [' année'] = 2013
<ipython-input-21-53cafd2a7eb9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sous_nutrition['2012-2014'] = df_sous_nutrition['2012-2014'] * 1000000

In [22]:
df_sous_nutrition

Année               pays   code pays  nb_personnes   année
0                Arménie           1      100000.0    2013
1            Afghanistan           2     7900000.0    2013
2                Albanie           3      200000.0    2013
3                Algérie           4     1700000.0    2013
4      Samoa américaines           5           0.0    2013
..                   ...         ...           ...     ...
198               Serbie         272      500000.0    2013
199           Monténégro         273           0.0    2013
200               Soudan         276     8300000.0    2013
201        Soudan du Sud         277           0.0    2013
202            Palestine         299           0.0    2013

[203 rows x 4 columns]

# Réponse à la question 18 : 
J'ai choisi la propriété "code pays" comme clé primaire car elle est unique et courte et ne peut pas être nulle