# P3_Réalisez une étude de santé publique

## Importer  des librairies Python et lire des bases de données

In [839]:
#impotter des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [840]:
#importer des database
df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_céréales = pd.read_csv('fr_céréales.csv')
df_sousalimentation = pd.read_csv('fr_sousalimentation.csv')

## Connaître la base de données
df_population 
df_animaux 
df_vegetaux 
df_céréales 
df_sousalimentation

In [841]:
df_population.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [842]:
df_population.nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

# Question 1 : donnez le résultat de votre calcul pour l'année 2013.

In [843]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [844]:
df_population['Année'] .nunique()

1

Il n'y a que l'année 2013 dans la colonne année.
On peut additionner la population de chaque pays pour obtenir la population totale du monde

In [845]:
df_population .nunique()

Code Domaine                1
Domaine                     1
Code zone                 175
Zone                      175
Code Élément                1
Élément                     1
Code Produit                1
Produit                     1
Code année                  1
Année                       1
Unité                       1
Valeur                    175
Symbole                     1
Description du Symbole      2
dtype: int64

#Il y a deux valeurs pour "Description du Symbole" voyons ce qu'elles sont :

In [846]:
df_population ['Description du Symbole']. unique ()

array(['Donnée officielle',
       'Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées'],
      dtype=object)

## population mondiale

In [847]:
population_2013 = (df_population['Valeur'].sum()*1000)
population_2013

8413993000

La population de la terre est 8413993000, Mais en 2013, la population de la Terre, selon les données des Nations Unies, était de 7 210 581 976 "https://www.worldometers.info/world-population/world-population-by-year/"
)

La Chine est comptée deux fois, dans la ligne 33 les données non officielles sont en double
Si nous supprimons) la ligne contenant l'index 33 de notre ensemble de données.

In [848]:
df_population_pas_officielles= (df_population['Description du Symbole']=='Agrégat, peut inclure des données officielles, semi-officielles, estimées ou calculées')
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [849]:
df_population[df_population_pas_officielles]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [850]:
df_population['Valeur'].sum()*1000 - 1416667*1000

6997326000

In [851]:
#Supprimer la ligne Chine
df_population = df_population[df_population['Code zone'] != 351]

In [852]:
df_population.loc[30:40, ['Zone','Code zone','Valeur']]

                         Zone  Code zone   Valeur
30                   Cameroun         32    22254
31                     Canada         33    35182
32                      Chili         40    17620
34   Chine - RAS de Hong-Kong         96     7204
35       Chine - RAS de Macao        128      566
36        Chine, continentale         41  1385567
37  Chine, Taiwan Province de        214    23330
38                     Chypre         50     1141
39                   Colombie         44    48321
40                      Congo         46     4448

In [853]:
df_animaux = df_animaux[df_animaux['Code zone'] != 351]

In [854]:
df_vegetaux = df_vegetaux[df_vegetaux['Code zone'] != 351]

In [855]:
df_céréales = df_céréales[df_céréales['Code zone'] != 351]

In [856]:
df_sousalimentation = df_sousalimentation[df_sousalimentation['Code zone'] != 351 ]

In [857]:
df_population.shape

(174, 14)

In [858]:
df_population ['Zone']. nunique ()

174

Note :

Il y a 206 pays dans le monde. Parmi eux, 193 sont membres des Nations Unies selon https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l%27alimentation_et_l%27agriculture, mais dans la base de données actuelle 175

# Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique .

Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :

Production 
Importations
Exportations 
Variation de stock 
Disponibilité intérieure 
Semences 
Pertes 
Nourriture, aussi appelée Disponibilité alimentaire 
Aliments pour animaux 
Traitement
Autres utilisations 

Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice,

 #Création d'un dataframe "FRANCE / BLE" pour vérifier les données

In [859]:
df_blé_France= df_vegetaux [(df_vegetaux['Zone']== 'France') & (df_vegetaux['Produit']== 'Blé')]
df_blé_France

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
37492,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
37493,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
37494,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
37495,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
37496,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5154,Autres utilisations (non alimentaire),2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
37497,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
37498,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
37499,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
37500,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
37501,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

In [860]:
df_blé_France.shape

(15, 14)

# Une équation à 3 termes

Disponibilité intérieur = Production + importations - exportations + variations des stocks = Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes

In [861]:
#Disponibilité intérieur
dispo_interieur1 = int(df_blé_France[df_blé_France['Code Élément'] == 5301].Valeur)
dispo_interieur1

20298

In [862]:
#Production + importations - exportations + variations des stocks 
dispo_interieur1= (int(df_blé_France[df_blé_France['Code Élément'] == 5511].Valeur) +
                   int(df_blé_France[df_blé_France['Code Élément'] == 5611].Valeur)-
                   int(df_blé_France[df_blé_France['Code Élément'] == 5911].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5072].Valeur))
dispo_interieur1

20298

In [863]:
#Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes
dispo_interieur2= (int(df_blé_France[df_blé_France['Code Élément'] == 5142].Valeur) +
                   int(df_blé_France[df_blé_France['Code Élément'] == 5521].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5527].Valeur)+
                   int(df_blé_France[df_blé_France['Code Élément'] == 5131].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5154].Valeur)+ 
                   int(df_blé_France[df_blé_France['Code Élément'] == 5123].Valeur))
dispo_interieur2

20298

Ainsi, les trois termes sont exactement équivalents dans les données France/Blé, et l'équation a été vérifiée.

# Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

Vous ferez cela à partir de ces informations :

Population de chaque pays ;
Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour.
Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [864]:
#Ajouter une colonne 'Radical' aux deux tables df_vegetaux et df_animaux
df_vegetaux['Radical'] = 'plante'
df_animaux['Radical'] = 'animal'

In [865]:
df_animaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Radical'],
      dtype='object')

In [866]:
df_vegetaux.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole', 'Radical'],
      dtype='object')

Les colonnes sont identiques, on peut donc fusionner les deux tables

In [867]:
df_vegetaux_animaux = df_animaux.append (df_vegetaux) 
df_vegetaux_animaux.sample(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Radical
82817,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,120,République démocratique populaire lao,674,Disponibilité de protéines en quantité (g/pers...,2586,Huil Plantes Oleif Autr,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée,plante
20781,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,256,Luxembourg,5911,Exportations - Quantité,2737,Graisses Animales Crue,2013,2013,Milliers de tonnes,0.00,S,Données standardisées,animal
11393,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,23,Belize,5911,Exportations - Quantité,2617,Pommes,2013,2013,Milliers de tonnes,0.00,S,Données standardisées,plante
71835,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,162,Norvège,674,Disponibilité de protéines en quantité (g/pers...,2640,Poivre,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée,plante
98099,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,220,Trinité-et-Tobago,674,Disponibilité de protéines en quantité (g/pers...,2549,Légumineuses Autres,2013,2013,g/personne/jour,2.93,Fc,Donnée calculée,plante
51082,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,106,Italie,664,Disponibilité alimentaire (Kcal/personne/jour),2602,Oignons,2013,2013,Kcal/personne/jour,6.00,Fc,Donnée calculée,plante
4432,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,194,Arabie saoudite,5911,Exportations - Quantité,2575,Huile Graines de Coton,2013,2013,Milliers de tonnes,0.00,S,Données standardisées,plante
54022,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,114,Kenya,5521,Aliments pour animaux,2518,Sorgho,2013,2013,Milliers de tonnes,24.00,S,Données standardisées,plante
16652,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,102,Iran (République islamique d'),5142,Nourriture,2733,Viande de Suides,2013,2013,Milliers de tonnes,0.00,S,Données standardisées,animal
9347,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,14,Barbade,645,Disponibilité alimentaire en quantité (kg/pers...,2558,Graines Colza/Moutarde,2013,2013,kg,1.00,Fc,Donnée calculée,plante

In [868]:
df_vegetaux_animaux.shape

(140919, 15)

In [869]:
# Jointure avec la table population sur le Code zone 
df_vegetaux_animaux= pd.merge(df_vegetaux_animaux,df_population, on = 'Code zone' )
df_vegetaux_animaux.sample(10)

,Code Domaine_x,Domaine_x,Code zone,Zone_x,Code Élément_x,Élément_x,Code Produit_x,Produit_x,Code année_x,Année_x,...,Code Élément_y,Élément_y,Code Produit_y,Produit_y,Code année_y,Année_y,Unité_y,Valeur_y,Symbole_y,Description du Symbole_y
132252,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,222,Tunisie,5301,Disponibilité intérieure,2735,"Viande, Autre",2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,10997,NaN,Donnée officielle
113139,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,215,République-Unie de Tanzanie,645,Disponibilité alimentaire en quantité (kg/pers...,2625,"Fruits, Autres",2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,49253,NaN,Donnée officielle
75364,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,119,Lettonie,5911,Exportations - Quantité,2805,Riz (Eq Blanchi),2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,2050,NaN,Donnée officielle
130760,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,217,Togo,5511,Production,2766,Cephalopodes,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,6817,NaN,Donnée officielle
139290,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,5123,Pertes,2744,Oeufs,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
119900,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,272,Serbie,5142,Nourriture,2731,Viande de Bovins,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,9511,NaN,Donnée officielle
131700,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,220,Trinité-et-Tobago,684,Disponibilité de matière grasse en quantité (g...,2532,Manioc,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,1341,NaN,Donnée officielle
118332,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,244,Samoa,5154,Autres utilisations (non alimentaire),2578,Huile de Coco,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,190,NaN,Donnée officielle
100882,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,165,Pakistan,5142,Nourriture,2619,Dattes,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,182143,NaN,Donnée officielle
71608,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,108,Kazakhstan,645,Disponibilité alimentaire en quantité (kg/pers...,2642,Girofles,2013,2013,...,511,Population totale,2501,Population,2013,2013,1000 personnes,16441,NaN,Donnée officielle

In [870]:
df_vegetaux_animaux.columns

Index(['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Code année_x', 'Année_x',
       'Unité_x', 'Valeur_x', 'Symbole_x', 'Description du Symbole_x',
       'Radical', 'Code Domaine_y', 'Domaine_y', 'Zone_y', 'Code Élément_y',
       'Élément_y', 'Code Produit_y', 'Produit_y', 'Code année_y', 'Année_y',
       'Unité_y', 'Valeur_y', 'Symbole_y', 'Description du Symbole_y'],
      dtype='object')

In [871]:
#  recréer un DataFrame avec les colonnes nécessaires
df_vegetaux_animaux= df_vegetaux_animaux[['Code Domaine_x', 'Domaine_x', 'Code zone', 'Zone_x', 'Code Élément_x',
       'Élément_x', 'Code Produit_x', 'Produit_x', 'Année_x',
       'Unité_x', 'Valeur_x','Radical', 'Valeur_y']]

In [872]:
df_vegetaux_animaux

,Code Domaine_x,Domaine_x,Code zone,Zone_x,Code Élément_x,Élément_x,Code Produit_x,Produit_x,Année_x,Unité_x,Valeur_x,Radical,Valeur_y
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,animal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,animal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,animal,30552
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140914,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,g/personne/jour,0.00,plante,14150
140915,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,g/personne/jour,0.00,plante,14150
140916,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,Kcal/personne/jour,2.00,plante,14150
140917,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,g/personne/jour,0.07,plante,14150
140918,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,g/personne/jour,0.03,plante,14150

In [873]:
#Changer les noms de colonnes
df_vegetaux_animaux = df_vegetaux_animaux.rename(columns= {'Code Domaine_x':'Code Domaine', 'Domaine_x':'Domaine', 'Code zone': 'Code zone', 'Zone_x': 'Zone', 'Code Élément_x': 'Code Élément',
       'Élément_x':'Élément', 'Code Produit_x':'Code Produit', 'Produit_x': 'Produit', 'Année_x': 'Année',
       'Unité_x':'Unité', 'Valeur_x':'Valeur','Radical':'Radical', 'Valeur_y':'Population'})

In [874]:
df_vegetaux_animaux

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur,Radical,Population
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,animal,30552
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,animal,30552
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,animal,30552
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140914,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,g/personne/jour,0.00,plante,14150
140915,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,g/personne/jour,0.00,plante,14150
140916,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,Kcal/personne/jour,2.00,plante,14150
140917,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,g/personne/jour,0.07,plante,14150
140918,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,g/personne/jour,0.03,plante,14150

In [875]:
#Population par pays
df_vegetaux_animaux['Population'] = df_vegetaux_animaux['Population'] * 1000

In [876]:
df_vegetaux_animaux.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Année,Unité,Valeur,Radical,Population
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,Milliers de tonnes,134.00,animal,30552000
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,Milliers de tonnes,6.00,animal,30552000
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552000
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,Milliers de tonnes,140.00,animal,30552000
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,kg,4.59,animal,30552000

In [877]:
# On créé un pivot avec les éléments en colonne
df_vegetaux_animaux = df_vegetaux_animaux.pivot_table( index = [ 'Code zone', 'Zone', 'Code Produit', 'Produit', 'Année', 'Radical', 'Population'] , columns = 'Élément', values = 'Valeur', aggfunc = sum).reset_index()

In [878]:
df_vegetaux_animaux

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,2013,plante,2977000,93.0,0.0,1024.0,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,plante,2977000,137.0,26.0,0.0,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,plante,2977000,96.0,NaN,0.0,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,plante,2977000,1.0,NaN,1.0,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,plante,2977000,4.0,NaN,2.0,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,2013,animal,37964000,NaN,0.0,0.0,...,0.00,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN
15601,276,Soudan,2764,"Poissons Marins, Autres",2013,animal,37964000,NaN,0.0,0.0,...,0.04,5.0,NaN,NaN,5.0,NaN,5.0,NaN,NaN,NaN
15602,276,Soudan,2805,Riz (Eq Blanchi),2013,plante,37964000,NaN,NaN,14.0,...,0.28,49.0,NaN,33.0,48.0,NaN,17.0,1.0,NaN,0.0
15603,276,Soudan,2848,Lait - Excl Beurre,2013,animal,37964000,NaN,0.0,315.0,...,15.75,5892.0,0.0,232.0,5892.0,NaN,5660.0,NaN,0.0,NaN
15604,276,Soudan,2899,Miscellanees,2013,plante,37964000,NaN,NaN,7.0,...,1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [879]:
    # Calculs des disponibilités alimentaires totales par produit pour chaque pays (Kg) = Population * (Disponibilité de protéines en quantité (g/personne/jour))/1000 * 365
    df_vegetaux_animaux['Disponibilité alimentaire protéines totale (Kg)'] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité de protéines en quantité (g/personne/jour)']/1000 * 365 )

In [880]:
# Calculs des disponibilités alimentaires totales par produit pour chaque pays(kcal) = Population * (Disponibilité de protéines en quantité Disponibilité alimentaire (Kcal/personne/jour) * 365
df_vegetaux_animaux['la disponibilité alimentaire en kcal '] = (df_vegetaux_animaux['Population'] *df_vegetaux_animaux['Disponibilité alimentaire (Kcal/personne/jour)'] * 365 )

In [881]:
df_vegetaux_animaux.sample(10)

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),la disponibilité alimentaire en kcal
6439,104,Irlande,2578,Huile de Coco,2013,plante,4627000,NaN,8.0,48.0,...,0.0,18.0,9.0,NaN,0.0,NaN,0.0,0.0,67554.20,8.106504e+10
2622,44,Colombie,2578,Huile de Coco,2013,plante,48321000,NaN,NaN,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.000000e+00
7268,114,Kenya,2561,Sésame,2013,plante,44354000,NaN,NaN,6.0,...,4.0,11.0,18.0,1.0,12.0,0.0,NaN,0.0,3237842.00,9.713526e+10
4545,74,Gabon,2614,"Agrumes, Autres",2013,plante,1672000,NaN,NaN,1.0,...,NaN,0.0,2.0,0.0,1.0,NaN,NaN,NaN,6102.80,6.102800e+08
13278,215,République-Unie de Tanzanie,2578,Huile de Coco,2013,plante,49253000,NaN,NaN,6.0,...,0.0,0.0,12.0,NaN,11.0,NaN,NaN,NaN,NaN,1.078641e+11
15441,273,Monténégro,2532,Manioc,2013,plante,621000,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3302,54,Danemark,2733,Viande de Suides,2013,animal,5619000,NaN,151.0,186.0,...,1447.0,159.0,140.0,NaN,1589.0,NaN,NaN,-10.0,15607615.35,3.814739e+11
631,10,Australie,2572,Huile d'Arachide,2013,plante,23343000,NaN,NaN,2.0,...,1.0,1.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,1.704039e+10
12636,203,Espagne,2735,"Viande, Autre",2013,animal,46927000,0.0,NaN,6.0,...,41.0,59.0,103.0,NaN,85.0,NaN,NaN,0.0,17642205.65,1.027701e+11
2966,50,Chypre,2533,Patates douces,2013,plante,1141000,NaN,NaN,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00

#Résultat : Dans le monde, l'accès à la nourriture en quantité n'est pas égalitaire

# Question 4 : Ratios énergétiques
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nourriture par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

In [893]:
df_vegetaux_animaux.loc[3080 : 3084]

Élément,Code zone,Zone,Code Produit,Produit,Année,Radical,Population,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité alimentaire protéines totale (Kg),la disponibilité alimentaire en kcal
3080,52,Azerbaïdjan,2573,Huile de Tournesol,2013,plante,9413000,NaN,1.0,32.0,...,35.0,36.0,12.0,NaN,9.0,NaN,NaN,3.0,68714.90,1.099438e+11
3081,52,Azerbaïdjan,2574,Huile de Colza&Moutarde,2013,plante,9413000,NaN,NaN,0.0,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
3082,52,Azerbaïdjan,2575,Huile Graines de Coton,2013,plante,9413000,NaN,1.0,10.0,...,0.0,0.0,4.0,NaN,2.0,NaN,NaN,3.0,34357.45,3.435745e+10
3083,52,Azerbaïdjan,2576,Huile de Palmistes,2013,plante,9413000,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3084,52,Azerbaïdjan,2577,Huile de Palme,2013,plante,9413000,NaN,40.0,16.0,...,0.0,46.0,6.0,NaN,NaN,NaN,NaN,NaN,34357.45,5.497192e+10

In [887]:
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)']= df_vegetaux_animaux['la disponibilité alimentaire en kcal']/ df_vegetaux_animaux['Nourriture']

KeyError: 'la disponibilité alimentaire en kcal'

In [885]:
#Calcul du  ratio énergie/poids (en kcal/kg)= La disponibilité alimentaire en kcal/kg / la quantité Nourriture
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] = (df_vegetaux_animaux['la disponibilité alimentaire en kcal'] /(df_vegetaux_animaux['Nourriture'] * 1000000))

KeyError: 'la disponibilité alimentaire en kcal'

In [886]:
# Ecriture de l'équation inverse de celle de l'énoncé pour retrouver le ratio utilisé par la FAO.
df_vegetaux_animaux['Ratio énergie/poids (kcal/kg)'] = (df_vegetaux_animaux['la disponibilité alimentaire en kcal']
                                                        / (df_vegetaux_animaux['Nourriture'] * 1000000))

KeyError: 'la disponibilité alimentaire en kcal'